@font-face {
	font-family: 'ST-Brigantina-free';
	src: url(../../static/fonts/STBrigantinafreeRegular.woff2) format('woff2'),
		url(../../static/fonts/STBrigantinafreeRegular.woff) format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}