<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>site1</title>
    <link rel="stylesheet" href="static/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Bellota+Text&amp;display=swap">
    <link rel="stylesheet" href="static/css/ST-Brigantina-free.css">
    <link rel="stylesheet" href="static/css/Banner-Heading-Image-images.css">
    <link rel="stylesheet" href="static/css/Filter.css">
    <link rel="stylesheet" href="static/css/Navbar-Centered-Brand-icons.css">
    <link rel="stylesheet" href="static/css/NZSearchFilterClear.css">
</head>

<body>
    <nav class="navbar navbar-light navbar-expand-md fixed-top text-center border-2 shadow-sm d-xxl-flex justify-content-xxl-end align-items-xxl-center py-3"
        style="/*margin-bottom: -3px;*/padding-bottom: 0px;background: #ffffff;color: #ffffff;padding-top: 0px;/*margin-top: 28px;*/position: relative;height: px;">
        <div class="container-fluid"><span
                class="text-center d-sm-flex align-items-center align-content-center m-auto align-items-sm-center"
                style="font-family: ST-Brigantina-free;/*display: inline-flex;*//*overflow: visible;*/transform: perspective(0px) translate(0px) rotate(0deg) rotateY(0deg) scale(2.47) skew(0deg);/*filter: hue-rotate(0deg) invert(0%) sepia(0%);*/transform-origin: center;/*text-shadow: 0px 0px;*/color: #303f9f;font-size: 24px;position: relative;text-align: center;margin-right: -17px;padding-right: 0px;margin-left: -20px;padding-left: 0px;">Речь&nbsp;<img
                    src="static/img/Логотип%201.svg" style="height: 30px;">&nbsp;идёт<a class="stretched-link"
                    href="/"></a></span><button data-bs-toggle="collapse" class="navbar-toggler"
                data-bs-target="#navcol-1" style="margin-left: 0px;"><span class="visually-hidden">Toggle
                    navigation</span><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse flex-grow-0 order-md-first" id="navcol-1">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item"><a class="nav-link active" href="/for_tutors"
                            style="font-family: ST-Brigantina-free;font-size: 35px;color: #303f9f;">Преподавателям</a>
                    </li>
                    <li class="nav-item"><a class="nav-link" href="/contacts"
                            style="font-size: 35px;font-family: ST-Brigantina-free;color: #303f9f;">о
                            проекте</a></li>
                </ul>
                <div class="d-md-none my-2">
                    <a class="btn btn-light me-2" role="button"
                        style="font-family: ST-Brigantina-free;font-size: 37px;color: #303f9f;border-color: #ffffff;background: rgba(197,202,233,0.5);"
                        href="/instruction">Инструкция</a>
                    <a class="btn btn-primary" role="button"
                        style="font-size: 37px;font-family: ST-Brigantina-free;background: #303f9f;color: #ffffff;border-style: double;border-color: #303f9f;"
                        href="/find">Искать</a>
                </div><span class="navbar-text"></span>
            </div>
            <div class="d-none d-md-block"><a class="btn btn-light border rounded me-2" role="button"
                    style="font-family: ST-Brigantina-free;font-size: 37px;color: #303f9f;border-color: #ffffff;background: rgba(197,202,233,0.5);"
                    href="/instruction">Инструкция</a><a class="btn btn-primary border rounded" role="button"
                    href="/find"
                    style="font-size: 37px;font-family: ST-Brigantina-free;background: #303f9f;color: #ffffff;border-style: double;border-color: #303f9f;">Искать</a>
            </div><a href="#"></a>
        </div>
    </nav>
    <div class="container py-4 py-xl-5">
        <div class="row" style="padding-bottom: 0px;margin-bottom: 1px;">
            <div class="col-md-8 col-xl-6 mx-auto p-4" style="padding-bottom: 42px;margin-bottom: -49px;">
                <div class="d-flex align-items-center align-items-md-start align-items-xl-center">
                    <div>
                        <h4 style="font-family: 'Bellota Text', serif;font-weight: bold;color: #303f9f;">
                            <span style="background-color: transparent;">О проекте</span>
                        </h4>
                        <p style="font-family: 'Bellota Text', serif;text-align: justify;"><span
                                style="color: rgb(0, 0, 0); background-color: transparent;">Сайт
                                "Речь идёт" создан для
                                изучения устойчивых сочетаний слов русской разговорной
                                речи (например, </span><em><span
                                    style="color: rgb(0, 0, 0); background-color: transparent;">"на
                                    самом деле", "ничего
                                    страшного", "ничего себе"</span></em><span
                                style="color: rgb(0, 0, 0); background-color: transparent;">).
                                Здесь вы найдёте
                            </span><strong><span style="color: rgb(0, 0, 0); background-color: transparent;">418
                                </span></strong><span
                                style="color: rgb(0, 0, 0); background-color: transparent;">примеров
                                использования таких
                                сочетаний из настоящих диалогов носителей русского
                                языка.&nbsp;</span></p><a href="#"></a>
                    </div>
                </div>
                <div class="d-flex align-items-center align-items-md-start align-items-xl-center">
                    <div>
                        <h4 style="font-family: 'Bellota Text', serif;font-weight: bold;"><span
                                style="color: rgb(48, 63, 159); background-color: transparent;">Зачем
                                это нужно?</span>
                        </h4>
                        <p style="font-family: 'Bellota Text', serif;text-align: justify;">Чтобы
                            помочь иностранцам,
                            изучающим русский язык:</p>
                        <p style="font-family: 'Bellota Text', serif;text-align: justify;">
                            <em>познакомиться с
                                устойчивыми сочетаниями слов, их функциями и
                                особенностями использования;</em>
                        </p>
                        <p style="font-family: 'Bellota Text', serif;text-align: justify;">
                            <em>научиться понимать живую
                                русскую речь;</em>
                        </p>
                        <p style="font-family: 'Bellota Text', serif;text-align: justify;">
                            <em>говорить более
                                естественно.</em>
                        </p>
                    </div>
                </div>
                <div class="d-flex align-items-center align-items-md-start align-items-xl-center">
                    <div>
                        <h4 style="font-family: 'Bellota Text', serif;font-weight: bold;"><span
                                style="color: rgb(48, 63, 159); background-color: transparent;">Кто
                                может использовать
                                сайт?</span></h4>
                        <p style="font-family: 'Bellota Text', serif;text-align: justify;">
                            <em>студенты, которые уже
                                знают русский язык на среднем уровне (B1 и выше) и хотят
                                развивать разговорную
                                речь;</em>
                        </p>
                        <p style="font-family: 'Bellota Text', serif;text-align: justify;">
                            <em>учителя русского языка
                                как иностранного — для занятий с учениками.</em>
                        </p>
                        <p style="font-family: 'Bellota Text', serif;text-align: justify;"></p>
                        <a href="#"></a>
                    </div>
                </div>
                <h4 style="font-family: 'Bellota Text', serif;font-weight: bold;"><span
                        style="color: rgb(48, 63, 159);">На чём основан проект?</span></h4>
                <p style="font-family: 'Bellota Text', serif;text-align: justify;font-weight: bold;">
                    <span style="font-weight: normal !important;">Данные взяты из </span><a
                        href="https://esc-corpus.ru/" target="_parent" style="color: rgb(0, 0, 0)"><span
                            style="font-weight: normal !important;">Корпуса устной речи
                            студентов и
                            молодёжи</span></a><span style="font-weight: normal !important;">. КУРС — это коллекция
                        живых записей повседневного общения молодых россиян. Учёные из Высшей
                        школы экономики в
                        Санкт-Петербурге начали этот проект в 2023 году, чтобы зафиксировать,
                        как на самом деле говорят
                        современные носители русского языка. Участники проекта — обычные
                        студенты — целый день носят с
                        собой диктофоны или записывают разговоры на смартфоны. В корпус входят
                        самые разные эпизод,
                        например, бытовые разговоры с семьёй и друзьями или деловые встречи с
                        коллегами.&nbsp;Эти записи
                        — бесценный материал для изучения русского как иностранного, ведь они
                        содержат примеры
                        естественных диалогов: говорящие часто сокращают слова, используют
                        разговорные выражения, а ещё
                        их речь очень эмоциональна.</span>
                </p>
                <p style="font-family: 'Bellota Text', serif;text-align: justify;"><span
                        style="color: rgb(0, 0, 0); background-color: transparent;">Проект "Речь
                        идёт" базируется на
                        лексическом подходе Майкла Льюиса, который подчёркивает важность
                        изучения устойчивых сочетаний
                        слов (коллокаций) в их естественном контексте. Вместо механического
                        заучивания отдельных слов мы
                        предлагаем наблюдать, как слова функционируют в речи. При подготовке
                        материалов мы учитывали
                        опыт современной корпусной лингвистики и теорию преподавания языковых
                        конструкций.&nbsp;</span>
                </p>
                <h4 style="font-family: 'Bellota Text', serif;font-weight: bold;"><span
                        style="color: rgb(48, 63, 159); background-color: transparent;">Авторы</span>
                </h4>
                <p style="font-family: 'Bellota Text', serif;text-align: justify;"><span
                        style="color: rgb(0, 0, 0); background-color: transparent;">Проект
                        выполнен Валерией
                        Мелкозёровой, стажёром-исследователем Лаборатории языковой конвергенции
                        (НИУ ВШЭ СПб).</span>
                </p>
                <h4 style="font-family: 'Bellota Text', serif;font-weight: bold;"><span
                        style="color: rgb(48, 63, 159); background-color: transparent;">Благодарности</span>
                </h4>
                <p style="font-family: 'Bellota Text', serif;text-align: justify;"><span
                        style="color: rgb(0, 0, 0); background-color: transparent;">Сайт
                        подготовлен в рамках проекта
                        «Текст как Big Data: методы и модели работы с большими текстовыми
                        данными» (ФИ-2025-32) для
                        выполнения фундаментальных проектов тематического плана научных
                        исследований, предусмотренных
                        Государственным заданием Национального исследовательского университета
                        «Высшая школа экономики»
                        на 2025 год.</span></p>
                <p style="font-family: 'Bellota Text', serif;text-align: justify;"><span
                        style="color: rgb(0, 0, 0); background-color: transparent;">Выражаем
                        особую благодарность
                        коллегам из Санкт-Петербургского государственного университета,
                        предоставившим данные по
                        устойчивым неоднословным единицам (при финансовой поддержке Российского
                        научного фонда, проект №
                        22-18-00189 </span><a
                        href="https://pureportal.spbu.ru/ru/projects/---------2023---2(06ccb30d-4ea7-4cc1-8989-37be38f6821d).html"
                        target="_parent" style="color: rgb(0, 0, 0)"><span
                            style="color: rgb(0, 0, 0); background-color: transparent;">«Структура
                            и
                            функционирование устойчивых неоднословных единиц русской
                            повседневной речи»</span></a><span
                        style="color: rgb(0, 0, 0); background-color: transparent;">).&nbsp;</span>
                </p>
                <h4 style="font-family: 'Bellota Text', serif;font-weight: bold;"><span
                        style="color: rgb(48, 63, 159);">Как ссылаться</span></h4>
                <p style="font-family: 'Bellota Text', serif;text-align: justify;"><span
                        style="color: rgb(0, 0, 0); background-color: transparent;">Пожалуйста,
                        при использовании
                        материалов сайта "Речь идёт" указывайте ссылку на электронный ресурс, а
                        также ссылку на
                        публикацию о Корпусе устной речи студентов и молодёжи:</span></p>
                <p style="font-family: 'Bellota Text', serif;text-align: justify;"><em><span
                            style="color: rgb(20, 22, 23);">Шерстинова Т., Мельник А.,
                            Петрова И., Азаревич К.,
                            Мелкозерова В., Чеповецкая С. «Оки доки, вот вам без рофла!»:
                            Повседневная речь молодежи в
                            корпусном представлении (структура и назначение звукового
                            корпуса КУРС/ESC) // Компьютерная
                            лингвистика и интеллектуальные технологии. 2025.</span></em></p>
                <h4 style="font-family: 'Bellota Text', serif;font-weight: bold;"><span
                        style="color: rgb(48, 63, 159); background-color: transparent;">Обратная
                        связь</span></h4>
                <p style="font-family: 'Bellota Text', serif;text-align: justify;"><span
                        style="color: rgb(0, 0, 0); background-color: transparent;">По всем
                        вопросам, предложениям и
                        замечаниям вы можете написать на
                        почту&nbsp;</span>vimelkozerova@edu.hse.ru<span
                        style="color: rgb(0, 0, 0); background-color: transparent;">&nbsp;или
                        заполнить </span><a href="https://forms.gle/xLg14pBDbbAQT5Ls6" target="_parent"
                        style="color: rgb(0, 0, 0)"><span
                            style="color: rgb(0, 0, 0); background-color: transparent;">форму</span></a><span
                        style="color: rgb(0, 0, 0); background-color: transparent;">.</span><br><span
                        style="color: rgb(0, 0, 0); background-color: transparent;">Если вам
                        нужна аудиозапись, которая
                        пока не размещена на сайте, или вы хотите помочь с нарезкой и
                        размещением оставшихся
                        аудиозаписей, напишите на указанную почту.</span></p>
            </div>
        </div>
    </div>
    <script src="static/bootstrap/js/bootstrap.min.js"></script>
    <script src="static/js/DataTable---Fully-BSS-Editable-style.js"></script>
</body>

</html>