<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>site1</title>
    <link rel="stylesheet" href="static/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Bellota+Text&amp;display=swap">
    <link rel="stylesheet" href="static/css/ST-Brigantina-free.css">
    <link rel="stylesheet" href="static/css/Banner-Heading-Image-images.css">
    <link rel="stylesheet" href="static/css/Filter.css">
    <link rel="stylesheet" href="static/css/Navbar-Centered-Brand-icons.css">
    <link rel="stylesheet" href="static/css/NZSearchFilterClear.css">
    <link rel="stylesheet" href="static/css/bootstrap/css/bootstrap.min.css">
</head>

<body>
    <nav class="navbar navbar-light navbar-expand-md fixed-top text-center border-2 shadow-sm d-xxl-flex justify-content-xxl-end align-items-xxl-center py-3"
        style="/*margin-bottom: -3px;*/padding-bottom: 0px;background: #ffffff;color: #ffffff;padding-top: 0px;/*margin-top: 28px;*/position: relative;height: px;">
        <div class="container-fluid"><span
                class="text-center d-sm-flex align-items-center align-content-center m-auto align-items-sm-center"
                style="font-family: ST-Brigantina-free;/*display: inline-flex;*//*overflow: visible;*/transform: perspective(0px) translate(0px) rotate(0deg) rotateY(0deg) scale(2.47) skew(0deg);/*filter: hue-rotate(0deg) invert(0%) sepia(0%);*/transform-origin: center;/*text-shadow: 0px 0px;*/color: #303f9f;font-size: 24px;position: relative;text-align: center;margin-right: -17px;padding-right: 0px;margin-left: -20px;padding-left: 0px;">Речь&nbsp;<img
                    src="static/img/Логотип%201.svg" style="height: 30px;">&nbsp;идёт<a class="stretched-link"
                    href="/"></a></span><button data-bs-toggle="collapse" class="navbar-toggler"
                data-bs-target="#navcol-1" style="margin-left: 0px;"><span class="visually-hidden">Toggle
                    navigation</span><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse flex-grow-0 order-md-first" id="navcol-1">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item"><a class="nav-link active" href="/for_tutors"
                            style="font-family: ST-Brigantina-free;font-size: 35px;color: #4b4c4f;">Преподавателям</a>
                    </li>
                    <li class="nav-item"><a class="nav-link" href="/contacts"
                            style="font-size: 35px;font-family: ST-Brigantina-free;color: #303f9f;">о
                            проекте</a></li>
                </ul>
                <div class="d-md-none my-2">
                    <a class="btn btn-light me-2" role="button"
                        style="font-family: ST-Brigantina-free;font-size: 37px;color: #303f9f;border-color: #ffffff;background: rgba(197,202,233,0.5);"
                        href="/instruction">Инструкция</a>
                    <a class="btn btn-primary" role="button"
                        style="font-size: 37px;font-family: ST-Brigantina-free;background: #303f9f;color: #ffffff;border-style: double;border-color: #303f9f;"
                        href="/find">Поиск</a>
                </div><span class="navbar-text"></span>
            </div>
            <div class="d-none d-md-block"><a class="btn btn-light border rounded me-2" role="button"
                    style="font-family: ST-Brigantina-free;font-size: 37px;color: #303f9f;border-color: #ffffff;background: rgba(197,202,233,0.5);"
                    href="/instruction">Инструкция</a><a class="btn btn-primary border rounded" role="button"
                    href="/find"
                    style="font-size: 37px;font-family: ST-Brigantina-free;background: #303f9f;color: #ffffff;border-style: double;border-color: #303f9f;">Поиск</a>
            </div><a href="#"></a>
        </div>
    </nav>
    <div class="container py-4 py-xl-5">
        <div class="row" style="padding-bottom: 0px;margin-bottom: 1px;">
            <div class="col-md-8 col-xl-6 mx-auto p-4" style="padding-bottom: 42px;margin-bottom: -49px;">
                <div class="d-flex align-items-center align-items-md-start align-items-xl-center">
                    <div>
                        <h4 style="font-family: 'Bellota Text', serif;font-weight: bold;color: #303f9f;"><span
                                style="background-color: transparent;">Алфавитный словник</span><span
                                style="background-color: transparent;"></span></h4>
                        <h4 style="font-family: 'Bellota Text', serif;font-weight: bold;color: #303f9f;"><span
                                style="background-color: transparent;">Б</span><span
                                style="background-color: transparent;"></span></h4>
                        <p style="font-family: 'Bellota Text', serif;text-align: justify;"><span
                                style="color: rgb(0, 0, 0);background-color: transparent;"></span><span
                                style="color: rgb(0, 0, 0);background-color: transparent;"></span><span
                                style="color: rgb(0, 0, 0);background-color: transparent;"></span><span
                                style="color: rgb(0, 0, 0);background-color: transparent;"><em>Без проблем</em><br>3
                                фрагмента<br>Используется, когда что-то можно сделать просто, быстро или когда человек
                                готов
                                это сделать без возражений.<br><br><em>Без разницы</em><br>1 фрагмент<br>Используется,
                                чтобы
                                выразить безразличие.<br><br><em>Боже мой</em><br>4 фрагмента<br>Используется для
                                привлечения внимания, а также для выражения сильных чувств (чаще
                                негативных).<br><br><em>Бросаться в глаза</em>&nbsp;&nbsp;<br>2 фрагмента<br>Так о
                                говорят о
                                чём-то очень заметном, ярком.<br><br></span><span
                                style="color: rgb(0, 0, 0);background-color: transparent;"></span></p>
                        <h4 style="font-family: 'Bellota Text', serif;font-weight: bold;color: #303f9f;"><span
                                style="background-color: transparent;">В</span><span
                                style="background-color: transparent;"></span></h4>
                        <p style="font-family: 'Bellota Text', serif;text-align: justify;"><span
                                style="color: rgb(0, 0, 0);background-color: transparent;"></span><span
                                style="color: rgb(0, 0, 0);background-color: transparent;"></span><span
                                style="color: rgb(0, 0, 0);background-color: transparent;"></span><span
                                style="color: rgb(0, 0, 0);background-color: transparent;"><em>В курсе</em><br>4
                                фрагмента<br>Используется как синоним глагола <em>знать</em> – <em>располагать
                                    информацией</em>.<br><br><em>В любом случае</em>&nbsp;&nbsp;<br>4
                                фрагмента<br>Используется для выражения неизбежности или вывода, который остаётся верным
                                при
                                любых обстоятельствах. Синонимично выражениям <em>всё равно, так или иначе, при любых
                                    условиях</em>.<br><br><em>В общем</em><br>15 фрагментов<br>Используется
                                для:<br>Обобщения или подведения итога – когда нужно кратко выразить основную мысль
                                после
                                объяснений.<br>Начала вывода – когда говорящий переходит к главному после неуверенности
                                или
                                размышлений.<br>Завершения мысли – чтобы закончить рассуждение, особенно если детали не
                                важны.<br><br><em>В общем вот</em><br>1 фрагмент<br>Используется для:<br>Резкого
                                перехода
                                между мыслями – когда говорящий завершает одну тему и сразу переключается на другую без
                                плавной связи или возвращается к основному рассказу после отступления.<br>Завершения
                                мысли.<br><br><br><em>В своё время</em><br>2 фрагмента<br>Используется для указания на
                                определённый период в прошлом, когда что-то происходило или было
                                актуально.<br><br><br><em>В
                                    смысле</em><br>23 фрагмента<br>Используется для:<br>Выражения удивления, несогласия,
                                протеста и раздражения. <br>Уточнения информации или мысли.<br>Просьбы объяснить или
                                повторить (при непонимании).<br>Исправления ошибки в речи.<br><br><em>В тему</em><br>1
                                фрагмент<br>Используется для выражения уместности чего-либо.<br><br><em>Вот здесь
                                    вот</em><br>1 фрагмент<br>Используется для выражения раздражения, усталости от
                                чего-либо.<br><br><em>Вот и всё</em><br>3 фрагмента<br>Используется для завершения
                                мысли.<br><br><em>Вот именно</em><br>1 фрагмент<br>Используется для:<br>Акцентирования
                                логического вывода – усиливает аргумент, делая его более убедительным.<br>Подтверждения
                                своей правоты – когда говорящий хочет подчеркнуть, что его точка зрения верна, а
                                собеседник
                                ошибается.<br><br><em>Вот так вот&nbsp;&nbsp;</em><br>4 фрагмента<br>Используется
                                для:<br>Указания на образ действия.<br>Подтверждения факта – когда говорящий соглашается
                                с
                                утверждением или констатирует очевидное, делает вывод.<br>Ухода от прямого ответа,
                                выражает
                                лёгкую иронию.<br><br><br><em>Вот такой вот</em><br>1 фрагмент<br>Используется для
                                указания.<br><br><em>Вот это вот&nbsp;</em>&nbsp;<br>7 фрагментов<br>Используется
                                для:<br>Указания.<br>Заполнения паузы во время подбора правильных слов.<br><br><em>Всё
                                    время</em><br>13 фрагментов<br>Используется для выражения значений:<br>'Постоянно' /
                                'всегда' – действие или состояние происходит без перерыва или очень часто.<br>'Каждый
                                раз' –
                                действие повторяется регулярно в одних и тех же ситуациях.<br><br><em>Всё на
                                    свете</em><br>1
                                фрагмент<br>Используется для выражения значения 'очень много разнообразных вещей' –
                                подчеркивается необычайное разнообразие или полнота коллекции/набора
                                чего-либо.<br><br><strong><em>Всё равно</em></strong><br>18 фрагментов<br>Используется
                                для:<br>Выражения неизбежности или неизменности ситуации – подчёркивает, что результат
                                или
                                исход не зависит от обстоятельств, действий или условий (синонимично <em>в любом случае,
                                    всё-таки</em>).<br>Указания на безразличие или равнодушие – когда говорящему
                                неважно,
                                как обстоят дела, или он не придаёт значения ситуации (синонимично <em>неважно, без
                                    разницы</em>).<br>Подчёркивания постоянства или повторяемости – для описания
                                ситуации,
                                которая всегда происходит одинаково, независимо от обстоятельств (синонимично
                                <em>всегда</em>).</span><span
                                style="color: rgb(0, 0, 0);background-color: transparent;"></span></p>
                        <h4 style="font-family: 'Bellota Text', serif;font-weight: bold;color: #303f9f;"><span
                                style="background-color: transparent;">Г</span><span
                                style="background-color: transparent;"></span></h4>
                        <p style="font-family: 'Bellota Text', serif;text-align: justify;"><span
                                style="color: rgb(0, 0, 0);background-color: transparent;"></span><span
                                style="color: rgb(0, 0, 0);background-color: transparent;"></span><span
                                style="color: rgb(0, 0, 0);background-color: transparent;"></span><span
                                style="color: rgb(0, 0, 0);background-color: transparent;"><em>Господи боже
                                    мой</em><br>1
                                фрагмент<br>Используется для выражения сильных эмоций, чаще негативных, таких как
                                раздражение, удивление или досада.</span><span
                                style="color: rgb(0, 0, 0);background-color: transparent;"></span></p>
                        <h4 style="font-family: 'Bellota Text', serif;font-weight: bold;color: #303f9f;"><span
                                style="background-color: transparent;">Д</span><span
                                style="background-color: transparent;"></span></h4>
                        <p style="font-family: 'Bellota Text', serif;text-align: justify;"><span
                                style="color: rgb(0, 0, 0);background-color: transparent;"></span><span
                                style="color: rgb(0, 0, 0);background-color: transparent;"></span><span
                                style="color: rgb(0, 0, 0);background-color: transparent;"></span><span
                                style="color: rgb(0, 0, 0);background-color: transparent;"><em>Да ладно</em><br>9
                                фрагментов<br>Используется для:<br>Выражения удивления, недоверия или интереса в ответ
                                на
                                неожиданную информацию.<br>Успокоения собеседника, чтобы остановить или смягчить его
                                реакцию
                                (синонимично <em>хватит, всё нормально</em>).<br>Снижения значимости обсуждаемой темы
                                или
                                проблемы, чтобы завершить разговор или перевести его на другую тему (синонимично <em>это
                                    неважно</em>).<br>Смягчения шутки или высказывания, чтобы избежать обиды или
                                конфликта.<br><br><em>Да ты что&nbsp;&nbsp;</em><br>5 фрагментов<br>Используется
                                для:<br>Выражения удивления, интереса или недоверия в ответ на неожиданную или важную
                                информацию (синонимично <em>серьёзно?, неужели?</em>).<br>Выражения возмущения или
                                легкого
                                неодобрения в ответ на действия или слова собеседника.<br>Проявления сочувствия или
                                беспокойства, когда информация вызывает эмоциональный отклик.<br><br><br><em>Дай
                                    бог</em><br>3 фрагмента<br>Используется для:<br>Выражения надежды на благоприятный
                                исход
                                или удачу, несмотря на ограничения или трудности (синонимично <em>если повезёт, в лучшем
                                    случае</em>).<br>Пожелания здоровья, долголетия или благополучия (синонимично
                                <em>пусть
                                    будет так</em>).<br>Выражения предположения о желаемом, но негарантированном
                                результате.<br><br><em>Дело в том, что</em><br>2 фрагмента<br>Используется
                                для:<br>Указания
                                на причину или объяснение ситуации. Подчёркивается ключевой фактор, влияющий на
                                происходящее
                                (синонимично <em>причина в том, что</em>).<br>Структурирования рассуждения, чтобы
                                акцентировать внимание на конкретной причине или аспекте.<br><br><em>Дело не в том,
                                    что</em><br>1 фрагмент<br>Используется для: отрицания предполагаемой причины или
                                фактора, влияющего на ситуацию, с акцентом на то, что проблема или причина лежит в
                                другом
                                (синонимично <em>причина не в том, проблема не в том</em>).</span><span
                                style="color: rgb(0, 0, 0);background-color: transparent;"></span></p><a href="#"></a>
                    </div>
                </div>
                <div class="d-flex align-items-center align-items-md-start align-items-xl-center">
                    <div>
                        <h4 style="font-family: 'Bellota Text', serif;font-weight: bold;"><span
                                style="color: rgb(48, 63, 159);background-color: transparent;"></span></h4>
                        <p style="font-family: 'Bellota Text', serif;text-align: justify;"></p>
                        <p style="font-family: 'Bellota Text', serif;text-align: justify;"></p>
                        <p style="font-family: 'Bellota Text', serif;text-align: justify;"></p><a href="#"></a>
                    </div>
                    <h4 style="font-family: 'Bellota Text', serif;font-weight: bold;color: #303f9f;"><span
                            style="background-color: transparent;">Е</span><span
                            style="background-color: transparent;"></span></h4>
                </div>
                <p style="font-family: 'Bellota Text', serif;text-align: justify;"><span
                        style="color: rgb(0, 0, 0);background-color: transparent;"></span><span
                        style="color: rgb(0, 0, 0);background-color: transparent;"></span><span
                        style="color: rgb(0, 0, 0);background-color: transparent;"></span><span
                        style="color: rgb(0, 0, 0);background-color: transparent;"><em>Если что</em><br>3
                        фрагмента<br>Используется для:<br>Указания на потенциальную ситуацию или возможный сценарий,
                        часто с
                        целью предусмотреть негативные последствия или альтернативные варианты (синонимично <em>на
                            случай
                            если, в случае чего</em>).<br>Подчёркивания готовности к определённым обстоятельствам, когда
                        человек заранее учитывает возможные проблемы или потребности.</span><span
                        style="color: rgb(0, 0, 0);background-color: transparent;"></span></p>
                <div class="d-flex align-items-center align-items-md-start align-items-xl-center">
                    <div>
                        <h4 style="font-family: 'Bellota Text', serif;font-weight: bold;"><span
                                style="color: rgb(48, 63, 159);background-color: transparent;"></span></h4>
                        <p style="font-family: 'Bellota Text', serif;text-align: justify;"></p>
                        <p style="font-family: 'Bellota Text', serif;text-align: justify;"></p>
                        <p style="font-family: 'Bellota Text', serif;text-align: justify;"></p><a href="#"></a>
                    </div>
                    <h4 style="font-family: 'Bellota Text', serif;font-weight: bold;color: #303f9f;"><span
                            style="background-color: transparent;">З</span><span
                            style="background-color: transparent;"></span></h4>
                </div>
                <p style="font-family: 'Bellota Text', serif;text-align: justify;"><span
                        style="color: rgb(0, 0, 0);background-color: transparent;"></span><span
                        style="color: rgb(0, 0, 0);background-color: transparent;"></span><span
                        style="color: rgb(0, 0, 0);background-color: transparent;"></span><span
                        style="color: rgb(0, 0, 0);background-color: transparent;"><em>За компанию</em><br>1
                        фрагмент<br>Используется для указания на то, что действие было совершено в сопутствии с кем-то,
                        часто без первоначального намерения, а просто потому, что человек присоединился к
                        другому.</span><span style="color: rgb(0, 0, 0);background-color: transparent;"></span></p>
                <div class="d-flex align-items-center align-items-md-start align-items-xl-center">
                    <div>
                        <h4 style="font-family: 'Bellota Text', serif;font-weight: bold;"><span
                                style="color: rgb(48, 63, 159);background-color: transparent;"></span></h4>
                        <p style="font-family: 'Bellota Text', serif;text-align: justify;"></p>
                        <p style="font-family: 'Bellota Text', serif;text-align: justify;"></p>
                        <p style="font-family: 'Bellota Text', serif;text-align: justify;"></p><a href="#"></a>
                    </div>
                    <h4 style="font-family: 'Bellota Text', serif;font-weight: bold;color: #303f9f;"><span
                            style="background-color: transparent;">И</span><span
                            style="background-color: transparent;"></span></h4>
                </div>
                <p style="font-family: 'Bellota Text', serif;text-align: justify;"><span
                        style="color: rgb(0, 0, 0);background-color: transparent;"></span><span
                        style="color: rgb(0, 0, 0);background-color: transparent;"></span><span
                        style="color: rgb(0, 0, 0);background-color: transparent;"></span><span
                        style="color: rgb(0, 0, 0);background-color: transparent;"><em>И всё такое&nbsp;&nbsp;</em><br>1
                        фрагмент<br>Используется для обобщения мысли или описания ситуации общими словами, когда
                        говорящий
                        не уточняет детали или не может подобрать точные слова (синонимично <em>и тому подобное, и так
                            далее</em>).<br><br><em>И так далее</em>&nbsp;&nbsp;<br>4 фрагмента<br>Используется
                        для:<br>Сокращения перечисления, чтобы не называть все элементы списка, подразумевая продолжение
                        или
                        другие подобные примеры (синонимично <em>и тому подобное, и прочее</em>).<br>Выражения мысли
                        общими
                        словами, когда говорящий не уточняет детали или не может подобрать точные
                        формулировки.<br><br><em>Иметь в виду</em><br>6 фрагментов<br>Используется для: уточнения или
                        переформулировки сказанного, чтобы сделать мысль более понятной или исправить
                        неточность.</span><span style="color: rgb(0, 0, 0);background-color: transparent;"></span></p>
                <div class="d-flex align-items-center align-items-md-start align-items-xl-center">
                    <div>
                        <h4 style="font-family: 'Bellota Text', serif;font-weight: bold;"><span
                                style="color: rgb(48, 63, 159);background-color: transparent;"></span></h4>
                        <p style="font-family: 'Bellota Text', serif;text-align: justify;"></p>
                        <p style="font-family: 'Bellota Text', serif;text-align: justify;"></p>
                        <p style="font-family: 'Bellota Text', serif;text-align: justify;"></p><a href="#"></a>
                    </div>
                    <h4 style="font-family: 'Bellota Text', serif;font-weight: bold;color: #303f9f;"><span
                            style="background-color: transparent;">К</span><span
                            style="background-color: transparent;"></span></h4>
                </div>
                <p style="font-family: 'Bellota Text', serif;text-align: justify;"><span
                        style="color: rgb(0, 0, 0);background-color: transparent;"></span><span
                        style="color: rgb(0, 0, 0);background-color: transparent;"></span><span
                        style="color: rgb(0, 0, 0);background-color: transparent;"></span><span
                        style="color: rgb(0, 0, 0);background-color: transparent;"><em>Как бы</em>&nbsp;&nbsp;<br>29
                        фрагментов<br>Используется для:<br>Смягчения утверждения или высказывания, чтобы сделать его
                        менее
                        категоричным или выразить субъективность (синонимично <em>вроде бы, условно)</em>.<br>Выражения
                        неуверенности, сомнения или задумчивости при формулировке мысли, особенно когда говорящий ищет
                        подходящие слова. Заполняет паузы.<br>Уточнения информации или переформулировки, чтобы сделать
                        мысль
                        более понятной или акцентировать конкретный аспект.<br>Выделения важной мысли или аспекта в
                        разговоре для привлечения внимания собеседника.<br><br><em>Как всегда</em><br>3
                        фрагмента<br>Используется для:<br>Указания на привычное, повторяющееся действие или ситуацию,
                        подчёркивая её типичность (синонимично <em>как обычно, по традиции</em>).<br>Выражения иронии
                        или
                        самоиронии, когда говорящий подчёркивает предсказуемость или неизменность
                        обстоятельств.<br><br><em>Как говорится</em><br>1 фрагмент<br>Используется для: введения
                        известного
                        выражения, поговорки или общепринятого правила, чтобы подчеркнуть его общеизвестность или
                        авторитетность.<br><br><em>Как правило</em><br>2 фрагмента<br>Используется для указания на
                        типичную,
                        чаще всего встречающуюся ситуацию или закономерность (синонимично <em>обычно, в большинстве
                            случаев</em>).<br><br><em>Как раз</em><br>10 фрагментов<br>Используется
                        для:<br>Подчёркивания
                        точного соответствия или совпадения с обсуждаемым предметом, моментом или
                        ситуацией.<br>Выражения
                        одобрения или удовлетворения, когда ситуация идеально соответствует ожиданиям или потребностям
                        (синонимично <em>это то, что нужно</em>).<br><br><em>Как сказать</em><br>6 фрагментов
                        <br>Используется для: заполнения паузы в разговорной речи, чтобы продолжить высказывание, пока
                        подбираются нужные слова.<br><br><em>Какая разница</em><br>2 фрагмента<br>Используется
                        для:<br>Выражения безразличия или равнодушия к ситуации.<br>Снижения значимости проблемы или
                        спора,
                        чтобы успокоить собеседника или завершить обсуждение.</span><span
                        style="color: rgb(0, 0, 0);background-color: transparent;"></span></p>
                <div class="d-flex align-items-center align-items-md-start align-items-xl-center">
                    <div>
                        <h4 style="font-family: 'Bellota Text', serif;font-weight: bold;"><span
                                style="color: rgb(48, 63, 159);background-color: transparent;"></span></h4>
                        <p style="font-family: 'Bellota Text', serif;text-align: justify;"></p>
                        <p style="font-family: 'Bellota Text', serif;text-align: justify;"></p>
                        <p style="font-family: 'Bellota Text', serif;text-align: justify;"></p><a href="#"></a>
                    </div>
                    <h4 style="font-family: 'Bellota Text', serif;font-weight: bold;color: #303f9f;"><span
                            style="background-color: transparent;">Н</span><span
                            style="background-color: transparent;"></span></h4>
                </div>
                <p style="font-family: 'Bellota Text', serif;text-align: justify;"><span
                        style="color: rgb(0, 0, 0);background-color: transparent;"></span><span
                        style="color: rgb(0, 0, 0);background-color: transparent;"></span><span
                        style="color: rgb(0, 0, 0);background-color: transparent;"></span><span
                        style="color: rgb(0, 0, 0);background-color: transparent;"><em>На всякий
                            случай&nbsp;&nbsp;</em><br>5 фрагментов<br>Используется для: указания на действия,
                        предпринимаемые в качестве меры предосторожности или подготовки к возможной ситуации в будущем,
                        хотя
                        в данный момент они не обязательны (синонимично <em>если будет нужно</em>).<br><br><em>На
                            днях</em><br>1 фрагмент<br>Используется для указания на событие, которое произойдёт в
                        ближайшем
                        будущем, обычно в течение нескольких дней (синонимично <em>скоро, в ближайшее
                            время</em>).<br><br><br><em>На самом деле</em><br>23 фрагмента<br>Используется
                        для:<br>Усиления
                        утверждения, подчёркивается его истинность или значимость (синонимично <em>действительно,
                            по-настоящему, честно говоря</em>).<br>Выражения неожиданного факта или контраста между
                        ожиданиями и реальностью, часто для уточнения или исправления предыдущего мнения.<br><br><em>На
                            слуху</em><br>1 фрагмент<br>Используется для указания на то, что информация, имя или факт
                        широко
                        известны, обсуждаются или часто упоминаются.<br><br><em>Надо же</em><br>2
                        фрагмента<br>Используется
                        для:<br>Выражения удивления, озадаченности или неожиданности в ответ на необычную или интересную
                        информацию.<br>Подчёркивания иронии, когда ситуация кажется странной или забавной.<br><br><em>Не
                            в
                            курсе</em><br>1 фрагмент<br>Используется как синоним не знать –&nbsp;не располагать
                        информацией.<br><br><em>Не в силах</em><br>1 фрагмент<br>Используется для выражения
                        неспособности
                        или отсутствия энергии для выполнения действия из-за усталости, слабости или других ограничений
                        (синонимично <em>не могу, слишком устал</em>).<br><br><em>Не дай бог</em><br>1
                        фрагмент<br>Используется для выражения желания избежать негативных последствий или нежелательной
                        ситуации, выражения беспокойства.<br><br><em>Не проблема</em><br>1 фрагмент<br>Используется для
                        выражения согласия или готовности помочь, подчёркивая, что выполнение просьбы не вызывает
                        трудностей.<br><br><em>Не факт</em><br>4 фрагмента<br>Используется для: выражения сомнения или
                        неуверенности в истинности утверждения или вероятности события.<br><br><em>Ничего себе</em><br>5
                        фрагментов<br>Используется для выражения удивления или шока в ответ на неожиданную, впечатляющую
                        или
                        необычную информацию.<br><br><em>Ничего страшного</em><br>9 фрагментов<br>Используется
                        для:<br>Успокоения собеседника. Подчёркивает, что ситуация не является серьёзной или проблемной
                        (синонимично <em>всё нормально</em>, <em>не проблема</em>).<br>Снижения значимости проблемы или
                        ошибки, чтобы снять напряжение или избежать конфликта. Выражает принятия ситуации.<br><br><em>Ну
                            вот</em><br>23 фрагмента<br>Используется для:<br>Введения примера или пояснения для
                        подтверждения или иллюстрации сказанного.<br>Формулировки вывода или подведения итога после
                        обсуждения или описания ситуации.<br>Введения прямой речи для передачи слов другого
                        человека.<br>Разделения мыслей в разговоре, чтобы структурировать повествование или перейти к
                        новой
                        теме (например, для продолжения рассказа или возвращения к основной линии
                        повествования).<br><br><em>Ну вот так</em><br>1 фрагмент<br>Используется для подтверждения или
                        согласия с предыдущим высказыванием, подчёркивая, что ситуация именно такова, как описана
                        (синонимично <em>да, так и есть, такие дела</em>).<br><br><em>Ну вот так вот</em><br>1
                        фрагмент<br>Используется для указания на текущее положение дел или ситуацию, подчёркивает её
                        неизменность или принятие.<br><br><em>Ну давай</em><br>6 фрагментов<br>Используется
                        для:<br>Выражения согласия или готовности к действию, предложенному собеседником.<br>Предложения
                        решения или действия, чтобы договориться или двигаться дальше в обсуждении (синонимично
                        <em>давай
                            так, пусть будет так</em>).<br>Призыва к началу или продолжению действия, часто с оттенком
                        побуждения или инициативы.<br><br><em>Ну и что</em><br>4 фрагмента<br>Используется
                        для:<br>Выражения
                        возмущения или раздражения, подчёркивается, что упомянутая ситуация или факт не имеют значения
                        или
                        не оправдывают действий.<br>Вопроса о последствиях или значении описанного события, чтобы
                        уточнить,
                        что произошло дальше или почему это важно.<br>Снижения значимости обсуждаемой ситуации, часто с
                        оттенком вызова или скептицизма.<br><br><em>Ну ладно</em><br>20 фрагментов<br>Используется
                        для:<br>Выражения согласия или принятия ситуации, часто с оттенком примирения или завершения
                        спора.<br>Успокоения собеседника или смягчения предыдущего утверждения, чтобы снять напряжение
                        или
                        избежать конфликта.<br>Завершения диалога или темы, чтобы перейти к следующему вопросу или
                        попрощаться.<br>Формулировки вывода или принятия ситуации, особенно в контексте незначительных
                        проблем или неидеальных обстоятельств.<br>Выражения лёгкого смущения или скромного согласия в
                        ответ
                        на похвалу или комментарий.<br><br><em>Ну не знаю</em><br>12 фрагментов<br>Используется
                        для:<br>Выражения неуверенности, сомнения или затруднения в формулировке точного
                        ответа.<br>Смягчения мнения или претензии, чтобы сделать высказывание менее категоричным или
                        избежать конфликта.<br>Выражения лёгкого несогласия или альтернативного взгляда на ситуацию
                        (синонимично <em>у меня другое мнение</em>).<br>Завершения темы или высказывания, когда
                        говорящий не
                        хочет углубляться в детали или не имеет чёткой позиции.<br><br><em>Ну понятно</em><br>2
                        фрагмента<br>Используется для выражения согласия или понимания. Подчёркивается, что информация
                        ясна
                        или очевидна (синонимично <em>это очевидно, ясно</em>).<br><br><em>Ну ты даёшь</em><br>1
                        фрагмент<br>Используется для выражения удивления, лёгкого восхищения или иронии в ответ на
                        неожиданное или впечатляющее действие или поведение собеседника.<br><br><em>Ну это да</em><br>1
                        фрагмент<br>Используется для выражения согласия с мнением или аргументом собеседника, иногда для
                        согласия с общепризнанной идеей.</span><span
                        style="color: rgb(0, 0, 0);background-color: transparent;"></span></p>
                <div class="d-flex align-items-center align-items-md-start align-items-xl-center">
                    <div>
                        <h4 style="font-family: 'Bellota Text', serif;font-weight: bold;"><span
                                style="color: rgb(48, 63, 159);background-color: transparent;"></span></h4>
                        <p style="font-family: 'Bellota Text', serif;text-align: justify;"></p>
                        <p style="font-family: 'Bellota Text', serif;text-align: justify;"></p>
                        <p style="font-family: 'Bellota Text', serif;text-align: justify;"></p><a href="#"></a>
                    </div>
                    <h4 style="font-family: 'Bellota Text', serif;font-weight: bold;color: #303f9f;"><span
                            style="background-color: transparent;">О</span><span
                            style="background-color: transparent;"></span></h4>
                </div>
                <p style="font-family: 'Bellota Text', serif;text-align: justify;"><span
                        style="color: rgb(0, 0, 0);background-color: transparent;"></span><span
                        style="color: rgb(0, 0, 0);background-color: transparent;"></span><span
                        style="color: rgb(0, 0, 0);background-color: transparent;"></span><span
                        style="color: rgb(0, 0, 0);background-color: transparent;"><em>О господи</em><br>2
                        фрагмента<br>Используется для:<br> Выражения сильных эмоций, таких как радость, восторг,
                        удивление,
                        восхищение, страх и других.<br>Заполнения паузы в разговорной речи, когда говорящий подбирает
                        нужное
                        слово.<br><br><em>Обратить внимание</em><br>1 фрагмент<br>Используется для привлечения внимания
                        собеседника к важной детали или аспекту.<br><br><em>Одну минуточку&nbsp;</em>&nbsp;<br>1
                        фрагмент<br>Используется для просьбы подождать короткое время, пока говорящий проверяет
                        информацию,
                        обдумывает или выполняет действие.<br><br><em>Ой господи</em><br>3 фрагмента<br>Используется
                        для:<br>Выражения негативных эмоций, таких как раздражение, отчаяние или неприятное
                        удивление.<br>Исправления собственной ошибки в речи, подчёркивая осознание неточности или
                        оговорки.<br><br><em>Ой господи боже</em><br>2 фрагмента<br>Используется для выражения сильных
                        негативных эмоций, таких как тревога, раздражение, усталость или отчаяние.<br><br><br><em>Ой
                            господи
                            спаси</em><br>1 фрагмент<br>Используется для: подчёркивания эмоциональной реакции на
                        запутанные
                        или проблемные обстоятельства.<br><br></span><span
                        style="color: rgb(0, 0, 0);background-color: transparent;"></span></p>
                <div class="d-flex align-items-center align-items-md-start align-items-xl-center">
                    <div>
                        <h4 style="font-family: 'Bellota Text', serif;font-weight: bold;"><span
                                style="color: rgb(48, 63, 159);background-color: transparent;"></span></h4>
                        <p style="font-family: 'Bellota Text', serif;text-align: justify;"></p>
                        <p style="font-family: 'Bellota Text', serif;text-align: justify;"></p>
                        <p style="font-family: 'Bellota Text', serif;text-align: justify;"></p><a href="#"></a>
                    </div>
                    <h4 style="font-family: 'Bellota Text', serif;font-weight: bold;color: #303f9f;"><span
                            style="background-color: transparent;">П</span><span
                            style="background-color: transparent;"></span></h4>
                </div>
                <p style="font-family: 'Bellota Text', serif;text-align: justify;"><span
                        style="color: rgb(0, 0, 0);background-color: transparent;"></span><span
                        style="color: rgb(0, 0, 0);background-color: transparent;"></span><span
                        style="color: rgb(0, 0, 0);background-color: transparent;"><em>По жизни</em><br>1
                        фрагмент<br>Используется для указания на типичное, привычное поведение или черту характера,
                        свойственную человеку в целом.<br><br><em>По идее</em><br>10 фрагментов<br>Используется для:
                        выражения предположения или вероятности, основанного на логике или ожиданиях (синонимично
                        <em>предположительно, кажется, скорее всего</em>). Указывает на теоретически правильный или
                        ожидаемый порядок действий, часто с оттенком того, что реальность может
                        отличаться.<br><br><em>По
                            крайней мере</em><br>7 фрагментов<br>Используется для:<br>Подчёркивания минимального
                        положительного аспекта или условия в ситуации, часто для смягчения или уточнения (синонимично
                        <em>как минимум, хотя бы</em>).<br>Выражения предположения, основанного на прошлом опыте, для
                        обоснования текущего ожидания.<br><br><em>По сути</em><br>7 фрагментов<br>Используется
                        для:<br>Краткого объяснения и выражения главной мысли.<br>Акцента на важной детали или сути
                        явления.
                        <br><br><em>По ходу</em><br>2 фрагмента<br>Используется для:<br>Выражения сильного предположения
                        или
                        вывода, основанного на текущих наблюдениях или обстоятельствах (синонимично <em>кажется,
                            похоже</em>).<br>Указания на процесс или момент осознания чего-либо в ходе действия или
                        события
                        (синонимично <em>в процессе</em>).<br><br><em>Понятное дело</em><br>2 фрагмента<br>Используется
                        для
                        подчеркивания очевидности или естественности ситуации. Выражает уверенность в том, что что-то
                        ожидаемо или логично.<br><br><em>Почему нет</em><br>2 фрагмента<br>Используется для:
                        <br>Выражения
                        иронии или риторического согласия. Подчёркивается отсутствие причин для отказа от предложенного
                        действия или идеи (синонимично <em>какая разница?</em>).<br>Побуждения к действию или принятия
                        предложения с лёгким вызовом или шутливым тоном.<br><br><br><em>Просто так</em><br>5
                        фрагментов<br>Используется для указания на действие, совершённое без конкретной причины, цели
                        или
                        необходимости (синонимично <em>без причины, спонтанно</em>).</span><span
                        style="color: rgb(0, 0, 0);background-color: transparent;"></span><span
                        style="color: rgb(0, 0, 0);background-color: transparent;"></span></p>
                <div class="d-flex align-items-center align-items-md-start align-items-xl-center">
                    <div>
                        <h4 style="font-family: 'Bellota Text', serif;font-weight: bold;"><span
                                style="color: rgb(48, 63, 159);background-color: transparent;"></span></h4>
                        <p style="font-family: 'Bellota Text', serif;text-align: justify;"></p>
                        <p style="font-family: 'Bellota Text', serif;text-align: justify;"></p>
                        <p style="font-family: 'Bellota Text', serif;text-align: justify;"></p><a href="#"></a>
                    </div>
                    <h4 style="font-family: 'Bellota Text', serif;font-weight: bold;color: #303f9f;"><span
                            style="background-color: transparent;">Р</span><span
                            style="background-color: transparent;"></span></h4>
                </div>
                <p style="font-family: 'Bellota Text', serif;text-align: justify;"><span
                        style="color: rgb(0, 0, 0);background-color: transparent;"></span><span
                        style="color: rgb(0, 0, 0);background-color: transparent;"></span><span
                        style="color: rgb(0, 0, 0);background-color: transparent;"></span><span
                        style="color: rgb(0, 0, 0);background-color: transparent;"><em>Ради бога</em><br>1
                        фрагмент<br>Используется для выражения разрешения или побуждения к действию, подчёркивая
                        отсутствие
                        возражений со стороны говорящего. Указывает на то, что собеседник может поступать по своему
                        усмотрению, часто с оттенком лёгкой иронии или равнодушия.</span><span
                        style="color: rgb(0, 0, 0);background-color: transparent;"></span></p>
                <div class="d-flex align-items-center align-items-md-start align-items-xl-center">
                    <div>
                        <h4 style="font-family: 'Bellota Text', serif;font-weight: bold;"><span
                                style="color: rgb(48, 63, 159);background-color: transparent;"></span></h4>
                        <p style="font-family: 'Bellota Text', serif;text-align: justify;"></p>
                        <p style="font-family: 'Bellota Text', serif;text-align: justify;"></p>
                        <p style="font-family: 'Bellota Text', serif;text-align: justify;"></p><a href="#"></a>
                    </div>
                    <h4 style="font-family: 'Bellota Text', serif;font-weight: bold;color: #303f9f;"><span
                            style="background-color: transparent;">С</span><span
                            style="background-color: transparent;"></span></h4>
                </div>
                <p style="font-family: 'Bellota Text', serif;text-align: justify;"><span
                        style="color: rgb(0, 0, 0);background-color: transparent;"></span><span
                        style="color: rgb(0, 0, 0);background-color: transparent;"></span><span
                        style="color: rgb(0, 0, 0);background-color: transparent;"></span><span
                        style="color: rgb(0, 0, 0);background-color: transparent;"><em>С ума сойти</em><br>3
                        фрагмента<br>Используется для:<br>Выражения сильного эмоционального состояния, связанного с
                        невозможностью справиться с ситуацией, переутомлением или стрессом (синонимично <em>это
                            невыносимо,
                            будет очень плохо</em>).<br>Подчёркивания удивления или шока в ответ на необычную или
                        впечатляющую информацию.<br><br><em>Скажем так</em><br>2 фрагмента<br>Используется для:
                        смягчения
                        утверждения, чтобы сделать его менее категоричным или выразить условность (синонимично
                        <em>примерно
                            так, условно</em>). Вводит субъективную оценку или обобщение с оттенком иронии или
                        осторожности.<br><br><em>Слава богу</em><br>11 фрагментов<br>Используется для:<br>Выражения
                        облегчения или радости в связи с благоприятным исходом, избежанием проблемы или завершением
                        сложной
                        ситуации (синонимично <em>к счастью</em>).<br>Одобрения или согласия с поведением собеседника.
                        Подчёркивается, что их действия правильны или желательны (синонимично <em>и
                            правильно</em>).<br><br><em>Сто процентов</em><br>6 фрагментов<br>Используется для:
                        <br>Выражения полной уверенности или гарантии в том, что что-то произойдёт или является
                        правдой.<br>Подчёркивания согласия с высказыванием собеседника, подтверждая его правоту или
                        очевидность (синонимично <em>это факт</em>).</span><span
                        style="color: rgb(0, 0, 0);background-color: transparent;"></span></p>
                <div class="d-flex align-items-center align-items-md-start align-items-xl-center">
                    <div>
                        <h4 style="font-family: 'Bellota Text', serif;font-weight: bold;"><span
                                style="color: rgb(48, 63, 159);background-color: transparent;"></span></h4>
                        <p style="font-family: 'Bellota Text', serif;text-align: justify;"></p>
                        <p style="font-family: 'Bellota Text', serif;text-align: justify;"></p>
                        <p style="font-family: 'Bellota Text', serif;text-align: justify;"></p><a href="#"></a>
                    </div>
                    <h4 style="font-family: 'Bellota Text', serif;font-weight: bold;color: #303f9f;"><span
                            style="background-color: transparent;">Т</span><span
                            style="background-color: transparent;"></span></h4>
                </div>
                <p style="font-family: 'Bellota Text', serif;text-align: justify;"><span
                        style="color: rgb(0, 0, 0);background-color: transparent;"></span><span
                        style="color: rgb(0, 0, 0);background-color: transparent;"></span><span
                        style="color: rgb(0, 0, 0);background-color: transparent;"></span><span
                        style="color: rgb(0, 0, 0);background-color: transparent;"><em>Так сказать</em><br>4
                        фрагмента<br>Используется для:<br>Смягчения утверждения, чтобы сделать его менее категоричным
                        или
                        более условным. Подчёркивает субъективности.<br>Заполнения паузы в разговорной речи, когда
                        говорящий
                        подбирает подходящее слово или формулировку.<br><br><em>Такое ощущение, что</em><br>2
                        фрагмента<br>Используется для: выражения субъективных чувств, впечатлений или предположений,
                        основанных на личных ощущениях говорящего.<br><br><em>То же самое</em><br>10
                        фрагментов<br>Используется для указания на идентичность или сходство с ранее упомянутым
                        предметом,
                        действием или ситуацией.<br><br><em>Ты чего</em><br>6 фрагментов<br>Используется
                        для:<br>Выражения
                        удивления, непонимания или неодобрения в ответ на неожиданное поведение, слова или действия
                        собеседника (синонимично <em>почему ты так делаешь?, что с тобой?</em>).<br>Указания на ошибку
                        или
                        несогласие с действиями собеседника, часто с оттенком лёгкого упрёка или протеста (синонимично
                        <em>ты серьёзно?, ты не прав</em>).<br>Вопроса о причинах или мотивах поведения собеседника,
                        подчёркивается его странность или неуместность.<br><br><br><em>Ты что</em><br>3
                        фрагмента<br>Используется для:<br>Выражения удивления, непонимания или неодобрения в ответ на
                        неожиданное поведение, слова или действия собеседника (синонимично <em>почему ты так делаешь?,
                            что с
                            тобой?</em>).<br>Указания на ошибку или несогласие с действиями собеседника, часто с
                        оттенком
                        лёгкого упрёка или протеста (синонимично <em>ты серьёзно?, ты не прав</em>).<br>Вопроса о
                        причинах
                        или мотивах поведения собеседника, подчёркивается его странность или неуместность.</span><span
                        style="color: rgb(0, 0, 0);background-color: transparent;"></span></p>
                <div class="d-flex align-items-center align-items-md-start align-items-xl-center">
                    <div>
                        <h4 style="font-family: 'Bellota Text', serif;font-weight: bold;"><span
                                style="color: rgb(48, 63, 159);background-color: transparent;"></span></h4>
                        <p style="font-family: 'Bellota Text', serif;text-align: justify;"></p>
                        <p style="font-family: 'Bellota Text', serif;text-align: justify;"></p>
                        <p style="font-family: 'Bellota Text', serif;text-align: justify;"></p><a href="#"></a>
                    </div>
                    <h4 style="font-family: 'Bellota Text', serif;font-weight: bold;color: #303f9f;"><span
                            style="background-color: transparent;">Э</span><span
                            style="background-color: transparent;"></span></h4>
                </div>
                <p style="font-family: 'Bellota Text', serif;text-align: justify;"><span
                        style="color: rgb(0, 0, 0);background-color: transparent;"></span><span
                        style="color: rgb(0, 0, 0);background-color: transparent;"></span><span
                        style="color: rgb(0, 0, 0);background-color: transparent;"></span><span
                        style="color: rgb(0, 0, 0);background-color: transparent;"><em>Этот самый</em><br>1
                        фрагмент<br>Используется для заполнения паузы в речи, когда говорящий подбирает правильное слово
                        или
                        термин.</span><span style="color: rgb(0, 0, 0);background-color: transparent;"></span></p>
                <h4 style="font-family: 'Bellota Text', serif;font-weight: bold;"><span
                        style="color: rgb(48, 63, 159);"></span></h4>
                <p style="font-family: 'Bellota Text', serif;text-align: justify;font-weight: bold;"><span
                        style="font-weight: normal;"></span><span style="font-weight: normal;"></span><span
                        style="font-weight: normal;"></span></p>
                <p style="font-family: 'Bellota Text', serif;text-align: justify;"><span
                        style="color: rgb(0, 0, 0);background-color: transparent;"></span></p>
                <h4 style="font-family: 'Bellota Text', serif;font-weight: bold;"><span
                        style="color: rgb(48, 63, 159);background-color: transparent;"></span></h4>
                <p style="font-family: 'Bellota Text', serif;text-align: justify;"><span
                        style="color: rgb(0, 0, 0);background-color: transparent;"></span></p>
                <h4 style="font-family: 'Bellota Text', serif;font-weight: bold;"><span
                        style="color: rgb(48, 63, 159);background-color: transparent;"></span></h4>
                <p style="font-family: 'Bellota Text', serif;text-align: justify;"><span
                        style="color: rgb(0, 0, 0);background-color: transparent;"></span></p>
                <p style="font-family: 'Bellota Text', serif;text-align: justify;"></p>
                <h4 style="font-family: 'Bellota Text', serif;font-weight: bold;"><span
                        style="color: rgb(48, 63, 159);"></span></h4>
                <p style="font-family: 'Bellota Text', serif;text-align: justify;"><span
                        style="color: rgb(0, 0, 0);background-color: transparent;"></span></p>
                <p style="font-family: 'Bellota Text', serif;text-align: justify;"><span
                        style="color: rgb(20, 22, 23);"></span></p>
                <h4 style="font-family: 'Bellota Text', serif;font-weight: bold;"><span
                        style="color: rgb(48, 63, 159);background-color: transparent;"></span></h4>
                <p style="font-family: 'Bellota Text', serif;text-align: justify;"></p>
                <h4 style="font-family: 'Bellota Text', serif;font-weight: bold;color: #303f9f;"></h4>
                <p style="font-family: 'Bellota Text', serif;text-align: justify;"><span
                        style="color: rgb(0, 0, 0);background-color: transparent;"></span><span
                        style="color: rgb(0, 0, 0);background-color: transparent;"></span><span
                        style="color: rgb(0, 0, 0);background-color: transparent;"></span><span
                        style="color: rgb(0, 0, 0);background-color: transparent;"></span><span
                        style="color: rgb(0, 0, 0);background-color: transparent;"></span></p>
            </div>
        </div>
    </div>
    <script src="static/bootstrap/js/bootstrap.min.js"></script>
    <script src="static/js/DataTable---Fully-BSS-Editable-style.js"></script>
    <script src="static/js/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>