<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>site1</title>
    <link rel="stylesheet" href="static/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Bellota+Text&amp;display=swap">
    <link rel="stylesheet" href="static/css/ST-Brigantina-free.css">
    <link rel="stylesheet" href="static/css/Banner-Heading-Image-images.css">
    <link rel="stylesheet" href="static/css/Filter.css">
    <link rel="stylesheet" href="static/css/Navbar-Centered-Brand-icons.css">
    <link rel="stylesheet" href="static/css/NZSearchFilterClear.css">
</head>

<body>
    <nav class="navbar navbar-light navbar-expand-md fixed-top text-center border-2 shadow-sm d-xxl-flex justify-content-xxl-end align-items-xxl-center py-3"
        style="/*margin-bottom: -3px;*/padding-bottom: 0px;background: #ffffff;color: #ffffff;padding-top: 0px;/*margin-top: 28px;*/position: relative;height: px;">
        <div class="container-fluid"><span
                class="text-center d-sm-flex align-items-center align-content-center m-auto align-items-sm-center"
                style="font-family: ST-Brigantina-free;/*display: inline-flex;*//*overflow: visible;*/transform: perspective(0px) translate(0px) rotate(0deg) rotateY(0deg) scale(2.47) skew(0deg);/*filter: hue-rotate(0deg) invert(0%) sepia(0%);*/transform-origin: center;/*text-shadow: 0px 0px;*/color: #303f9f;font-size: 24px;position: relative;text-align: center;margin-right: -17px;padding-right: 0px;margin-left: -20px;padding-left: 0px;">Речь&nbsp;<img
                    src="static/img/Логотип%201.svg" style="height: 30px;">&nbsp;идёт<a class="stretched-link"
                    href="/"></a></span><button data-bs-toggle="collapse" class="navbar-toggler"
                data-bs-target="#navcol-1" style="margin-left: 0px;"><span class="visually-hidden">Toggle
                    navigation</span><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse flex-grow-0 order-md-first" id="navcol-1">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item"><a class="nav-link active" href="/for_tutors"
                            style="font-family: ST-Brigantina-free;font-size: 35px;color: #303f9f;">Преподавателям</a>
                    </li>
                    <li class="nav-item"><a class="nav-link" href="/contacts"
                            style="font-size: 35px;font-family: ST-Brigantina-free;color: #303f9f;">о проекте</a></li>
                </ul>
                <div class="d-md-none my-2"><a class="btn btn-light me-2" role="button"
                        style="font-family: ST-Brigantina-free;font-size: 37px;color: #303f9f;border-color: #ffffff;background: rgba(197,202,233,0.5);"
                        href="/instruction">Инструкция</a>
                    <a class="btn btn-primary" role="button"
                        style="font-size: 37px;font-family: ST-Brigantina-free;background: #303f9f;color: #ffffff;border-style: double;border-color: #303f9f;"
                        href="/find">Искать</a>
                </div><span class="navbar-text"></span>
            </div>
            <div class="d-none d-md-block"><a class="btn btn-light border rounded me-2" role="button"
                    style="font-family: ST-Brigantina-free;font-size: 37px;color: #303f9f;border-color: #ffffff;background: rgba(197,202,233,0.5);"
                    href="/instruction">Инструкция</a><a class="btn btn-primary border rounded" role="button"
                    href="/find"
                    style="font-size: 37px;font-family: ST-Brigantina-free;background: #303f9f;color: #ffffff;border-style: double;border-color: #303f9f;">Искать</a>
            </div><a href="#"></a>
        </div>
    </nav>
    <div class="container py-4 py-xl-5">
        <div class="row mb-5">
            <div class="col-md-8 col-xl-6 col-xxl-8 text-center mx-auto">
                <h2 style="font-family: 'Bellota Text', serif;">Поиск</h2>
                <p style="font-family: 'Bellota Text', serif;">Здесь собраны фрагменты диалогов носителей русского
                    языка. Чтобы найти нужные фрагменты, используйте фильтры: вы можете выбрать устойчивое сочетание,
                    контекст, собеседников или посмотреть способы выражения разных эмоций и намерений. Чтобы получить
                    фрагменты с аудиозаписями, выберите опцию "со звуком".</p>
            </div>
        </div>
    </div>
    <div class="filter">
        <form method="post" action="/search_result">
            <select name="mwu"
                style="color: #09093e;font-size:20px; font-family:'Bellota Text', serif; text-align: center; width: auto; padding: 5px;">
                <option value="" {% if not request.form.get('mwu') %}selected{% endif %}>-</option>
                <option value="" disabled {% if not request.form.get('mwu') %}selected{% endif %}>Выбрать</option>
                {% for value in filter_options['mwu'] %}
                <option value="{{ value }}">{{ value }}</option>
                {% endfor %}
            </select>

            <select name="context"
                style="color: #212121;font-size:20px; font-family:'Bellota Text', serif; text-align: center; width: auto; padding: 5px;">
                <option value="" {% if not request.form.get('context') %}selected{% endif %}>-</option>
                <option value="" disabled {% if not request.form.get('context') %}selected{% endif %}>Контекст</option>
                {% for value in filter_options['context'] %}
                <option value="{{ value }}">{{ value }}</option>
                {% endfor %}
            </select>

            <select name="roles"
                style="color: #212121;font-size:20px; font-family:'Bellota Text', serif; text-align: center; width: auto; padding: 5px;">
                <option value="" {% if not request.form.get('mwu') %}selected{% endif %}>-</option>
                <option value="" disabled {% if not request.form.get('roles') %}selected{% endif %}>Собеседники</option>
                {% for value in filter_options['roles'] %}
                <option value="{{ value }}">{{ value }}</option>
                {% endfor %}
            </select>

            <select name="expression"
                style="color: #212121;font-size:20px; font-family:'Bellota Text', serif; text-align: center; width: auto; padding: 5px;">
                <option value="" {% if not request.form.get('mwu') %}selected{% endif %}>-</option>
                <option value="" disabled {% if not request.form.get('expression') %}selected{% endif %}>Как выразить
                </option>
                {% for value in filter_options['expression'] %}
                <option value="{{ value }}">{{ value }}</option>
                {% endfor %}
            </select>

            <select name="sound"
                style="color: #212121;font-size:20px; font-family:'Bellota Text', serif; text-align: center; width: auto; padding: 5px;">
                <option value="" {% if not request.form.get('sound') %}selected{% endif %}>-</option>
                <option value="" disabled {% if not request.form.get('sound') %}selected{% endif %}>Звук</option>
                {% for value in filter_options['sound'] %}
                <option value="{{ value }}" {% if request.form.get('expression')==value %}selected{% endif %}>{{ value
                    }}</option>
                {% endfor %}
            </select>

            <div class="d-flex justify-content-center mt-3">
                <button type="submit" class="btn btn-primary text-nowrap "
                    style="color: #ffffff;background: #3f51b5;font-family: 'Bellota Text', serif;font-size: 25px;">
                    Найти
                </button>
            </div>
        </form>
    </div>
    <div class="container-fluid py-4 py-xl-5" style="height: 175px;">
        <div class="row mb-5">
            <div class="col-md-8 col-xl-1 col-xxl-1 text-center mx-auto">
                <div class="btn-group-vertical border rounded-pill float-none d-xl-flex justify-content-center align-items-center align-content-center align-self-center flex-wrap justify-content-xl-center"
                    role="group"></div>
            </div>
        </div>
    </div>
    <script src="static/bootstrap/js/bootstrap.min.js"></script>
    <script src="static/js/DataTable---Fully-BSS-Editable-style.js"></script>
</body>

</html>