<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>site1</title>
    <link rel="stylesheet" href="static/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Bellota+Text&amp;display=swap">
    <link rel="stylesheet" href="static/css/ST-Brigantina-free.css">
    <link rel="stylesheet" href="static/css/Banner-Heading-Image-images.css">
    <link rel="stylesheet" href="static/css/Filter.css">
    <link rel="stylesheet" href="static/css/Navbar-Centered-Brand-icons.css">
    <link rel="stylesheet" href="static/css/NZSearchFilterClear.css">
</head>

<body>
    <nav class="navbar navbar-light navbar-expand-md fixed-top text-center border-2 shadow-sm d-xxl-flex justify-content-xxl-end align-items-xxl-center py-3"
        style="/*margin-bottom: -3px;*/padding-bottom: 0px;background: #ffffff;color: #ffffff;padding-top: 0px;/*margin-top: 28px;*/position: relative;height: px;">
        <div class="container-fluid"><span
                class="text-center d-sm-flex align-items-center align-content-center m-auto align-items-sm-center"
                style="font-family: ST-Brigantina-free;/*display: inline-flex;*//*overflow: visible;*/transform: perspective(0px) translate(0px) rotate(0deg) rotateY(0deg) scale(2.47) skew(0deg);/*filter: hue-rotate(0deg) invert(0%) sepia(0%);*/transform-origin: center;/*text-shadow: 0px 0px;*/color: #303f9f;font-size: 24px;position: relative;text-align: center;margin-right: -17px;padding-right: 0px;margin-left: -20px;padding-left: 0px;">Речь&nbsp;<img
                    src="static/img/Логотип%201.svg" style="height: 30px;">&nbsp;идёт<a class="stretched-link"
                    href="/"></a></span><button data-bs-toggle="collapse" class="navbar-toggler"
                data-bs-target="#navcol-1" style="margin-left: 0px;"><span class="visually-hidden">Toggle
                    navigation</span><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse flex-grow-0 order-md-first" id="navcol-1">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item"><a class="nav-link active" href="/for_tutors"
                            style="font-family: ST-Brigantina-free;font-size: 35px;color: #303f9f;">Преподавателям</a>
                    </li>
                    <li class="nav-item"><a class="nav-link" href="/contacts"
                            style="font-size: 35px;font-family: ST-Brigantina-free;color: #303f9f;">о проекте</a></li>
                </ul>
                <div class="d-md-none my-2"><a class="btn btn-light me-2" role="button"
                        style="font-family: ST-Brigantina-free;font-size: 37px;color: #303f9f;border-color: #ffffff;background: rgba(197,202,233,0.5);"
                        href="/instruction">Инструкция</a>
                    <a class="btn btn-primary" role="button"
                        style="font-size: 37px;font-family: ST-Brigantina-free;background: #303f9f;color: #ffffff;border-style: double;border-color: #303f9f;"
                        href="/find">Искать</a>
                </div><span class="navbar-text"></span>
            </div>
            <div class="d-none d-md-block"><a class="btn btn-light border rounded me-2" role="button"
                    style="font-family: ST-Brigantina-free;font-size: 37px;color: #303f9f;border-color: #ffffff;background: rgba(197,202,233,0.5);"
                    href="/instruction">Инструкция</a><a class="btn btn-primary border rounded" role="button"
                    href="/find"
                    style="font-size: 37px;font-family: ST-Brigantina-free;background: #303f9f;color: #ffffff;border-style: double;border-color: #303f9f;">Искать</a>
            </div><a href="#"></a>
        </div>
    </nav>
    <div class="container py-4 py-xl-5">
        <div class="row" style="padding-bottom: 0px;margin-bottom: 1px;">
            <div class="col-md-8 col-xl-6 mx-auto p-4" style="padding-bottom: 42px;margin-bottom: -49px;">
                <h4 style="font-family: 'Bellota Text', serif;font-weight: bold;"><span
                        style="color: rgb(48, 63, 159); background-color: transparent;">Устойчивые неоднословные
                        единицы</span></h4>
                <div class="d-flex align-items-center align-items-md-start align-items-xl-center">
                    <div>
                        <p style="font-family: 'Bellota Text', serif;text-align: justify;"><span
                                style="color: rgb(0, 0, 0); background-color: transparent;">Согласно современным
                                исследованиям, на сайте представлены устойчивые неоднословные единицы — сочетания из 2–4
                                компонентов, обладающие идиоматичностью и статистической воспроизводимостью. Эти единицы
                                находятся на стыке лексики, грамматики и синтаксиса [Bogdanova-Beglarian et al., 2024] и
                                отличаются высокой разнородностью, что затрудняет их классификацию.</span></p><a
                            href="#"></a>
                    </div>
                </div>
                <div class="d-flex align-items-center align-items-md-start align-items-xl-center">
                    <div>
                        <p style="font-family: 'Bellota Text', serif;text-align: justify;"><span
                                style="color: rgb(0, 0, 0); background-color: transparent;">На сегодняшний день выделяют
                                8 типов таких единиц, на сайте представлены первые 6 [Bogdanova-Beglarian et al.
                                2024]:</span></p>
                        <p style="font-family: 'Bellota Text', serif;text-align: justify;"><span
                                style="color: rgb(0, 0, 0); background-color: transparent;">1. Прагматические маркеры —
                                функциональные единицы, которые структурируют диалог и обозначают речевые намерения
                                (</span><em><span style="color: rgb(0, 0, 0); background-color: transparent;">ну я не
                                    знаю, как говорится, скажем так</span></em><span
                                style="color: rgb(0, 0, 0); background-color: transparent;">);</span></p>
                        <p style="font-family: 'Bellota Text', serif;text-align: justify;"><span
                                style="color: rgb(0, 0, 0); background-color: transparent;">2. Нефразеологизированные
                                коллокации — устойчивые сочетания, восприятие которых не определяет образность значения
                                (</span><em><span style="color: rgb(0, 0, 0); background-color: transparent;">в крайнем
                                    случае, на самом деле, то же самое</span></em><span
                                style="color: rgb(0, 0, 0); background-color: transparent;">);</span></p>
                        <p style="font-family: 'Bellota Text', serif;text-align: justify;"><span
                                style="color: rgb(0, 0, 0); background-color: transparent;">3. Речевые формулы —
                                междометия, выражающие эмоциональную реакцию говорящего или ответную реакцию в диалоге
                                (</span><em><span style="color: rgb(0, 0, 0); background-color: transparent;">сто
                                    процентов, не дай бог, да ладно</span></em><span
                                style="color: rgb(0, 0, 0); background-color: transparent;">);</span></p>
                        <p style="font-family: 'Bellota Text', serif;text-align: justify;"><span
                                style="color: rgb(0, 0, 0); background-color: transparent;">4. Фразеологизированные
                                коллокации — устойчивые сочетания, элементы которых обладают образными значениями, за
                                единицей закрепляется определенное значение; наиболее близки к традиционным
                                фразеологическим единицам (</span><em><span
                                    style="color: rgb(0, 0, 0); background-color: transparent;">с ума сойти, бросаться в
                                    глаза, всё на свете</span></em><span
                                style="color: rgb(0, 0, 0); background-color: transparent;">);</span></p>
                        <p style="font-family: 'Bellota Text', serif;text-align: justify;"><span
                                style="color: rgb(0, 0, 0); background-color: transparent;">5. Идиомы — словоформы,
                                которые в силу частого употребления приобретает функционально-семантическую значимость в
                                повседневном общении (</span><em><span
                                    style="color: rgb(0, 0, 0); background-color: transparent;">не факт, без проблем, по
                                    жизни</span></em><span
                                style="color: rgb(0, 0, 0); background-color: transparent;">);</span></p>
                        <p style="font-family: 'Bellota Text', serif;text-align: justify;"><span
                                style="color: rgb(0, 0, 0); background-color: transparent;">6. Конструкции — как идиомы
                                или фразеологизированные коллокации, но включают постоянный компонент и вариативный
                                (</span><em><span style="color: rgb(0, 0, 0); background-color: transparent;">дело не в
                                    + ИГ, П.п, такое ощущение, что...</span></em><span
                                style="color: rgb(0, 0, 0); background-color: transparent;">);</span></p>
                        <p style="font-family: 'Bellota Text', serif;text-align: justify;"><span
                                style="color: rgb(0, 0, 0); background-color: transparent;">7. Прецедентные тексты —
                                единицы, появившиеся в результате прецендента, например, в фильме (</span><em><span
                                    style="color: rgb(0, 0, 0); background-color: transparent;">приз в студию, власть
                                    народу, все гениальное просто</span></em><span
                                style="color: rgb(0, 0, 0); background-color: transparent;">);</span></p>
                        <p style="font-family: 'Bellota Text', serif;text-align: justify;"><span
                                style="color: rgb(0, 0, 0); background-color: transparent;">8. Окказиональные коллокации
                                — модификации общепринятых словосочетаний в языке (</span><em><span
                                    style="color: rgb(0, 0, 0); background-color: transparent;">закрой свой
                                    язык</span></em><span
                                style="color: rgb(0, 0, 0); background-color: transparent;">).</span></p>
                        <p style="font-family: 'Bellota Text', serif;text-align: justify;"><span
                                style="color: rgb(0, 0, 0); background-color: transparent;">Последние исследования
                                показывают, что такие устойчивые неоднословные единицы составляют около 2% устной речи
                                [Sherstinova, Popova, 2024]. Наиболее частотны прагматические маркеры (31%), затем
                                нефразеологизированные коллокации (26%) и речевые формулы (21%). Остальные типы
                                встречаются реже [Sherstinova, Popova, 2024]. Изучение этих единиц важно для
                                преподавания РКИ, так как они играют значительную роль в повседневном общении.</span>
                        </p>
                    </div>
                </div>
                <div class="d-flex align-items-center align-items-md-start align-items-xl-center">
                    <div>
                        <h4 style="font-family: 'Bellota Text', serif;font-weight: bold;"><span
                                style="color: rgb(48, 63, 159); background-color: transparent;">Список рекомендованных
                                источников</span></h4>
                        <p style="font-family: 'Bellota Text', serif;text-align: justify;"><em>Зобнина Е. А. Перспективы
                                использования звукового корпуса «Один речевой день» в преподавании русского языка как
                                иностранного // Мир русского слова. 2009. № 4. С. 99–103.</em><br><em>Корпус устной речи
                                студентов и молодежи URL: https://esc-corpus.ru/</em><br><em>Стрельчук Е. Н. Русская
                                разговорная речь в методике преподавания РКИ: к постановке проблемы // Вестник Центра
                                международного образования Московского государственного университета. Филология.
                                Культурология. Педагогика. Методика. 2011. № 1. С. 48–52.</em><br><em>Сысоев П. В.,
                                Золотов П. Ю. Формирование прагматической компетенции студентов на основе корпусных
                                технологий // Язык и культура. 2020. № 51. С. 229–246.</em><br><em>Сысоев П. В., Сёмич
                                Ю. И. Обучения студентов направления подготовки" Журналистика" иноязычному письменному
                                высказыванию на основе корпусных технологий // Язык и культура. 2019. № 47. С.
                                260–276.</em><br><em>Bogdanova-Beglarian N. V. и др. Multiword Units in Russian Everyday
                                Speech: Empirical Classification and Corpus-Based Studies // Speech and Computer Lecture
                                Notes in Computer Science. / под ред. A. Karpov, V. Delić. Cham: Springer Nature
                                Switzerland, 2024. С. 187–200.</em><br><em>Chan C. S. Strategies for incorporating
                                findings from corpus linguistics studies into the teaching of spoken English for
                                business // The 9th International Corpus Linguistics Conference, University of
                                Birmingham. 2017.</em><br><em>Flowerdew J. Concordancing as a tool in course design //
                                System. 1993. Т. 21. № 2. С. 231–244.</em><br><em>Lewis M. The lexical approach //
                                Language teaching publications. Hove, 1993.</em><br><em>Lewis M. Implementing the
                                lexical approach: putting theory into practice // Boston, Mass: Thomson-Heinle, 2002.
                                230 с.</em><br><em>Lin P. Why corpus linguistics matters to L2 teaching and learning //
                                2024. С. 1–15.</em><br><em>Rahimi M., Momeni G. The effect of teaching collocations on
                                English language proficiency // Procedia - Social and Behavioral Sciences. 2012. Т. 31.
                                С. 37–42.</em><br><em>Sherstinova T. Y., Petrova I. ESC Corpus of Spoken Russian:
                                Everyday Student Conversations Captured Through Continuous Speech Recording in Natural
                                Communicative Environments // Speech and Computer Lecture Notes in Computer Science. /
                                под ред. A. Karpov, V. Delić. Cham: Springer Nature Switzerland, 2025. С.
                                151–162.</em><br><em>Sinclair J. Corpus, concordance, collocation // 1991.</em></p>
                        <p style="font-family: 'Bellota Text', serif;text-align: justify;"></p><a href="#"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="static/bootstrap/js/bootstrap.min.js"></script>
    <script src="static/js/DataTable---Fully-BSS-Editable-style.js"></script>
</body>

</html>