<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>site1</title>
    <link rel="stylesheet" href="static/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Bellota+Text&amp;display=swap">
    <link rel="stylesheet" href="static/css/ST-Brigantina-free.css">
    <link rel="stylesheet" href="static/css/Banner-Heading-Image-images.css">
    <link rel="stylesheet" href="static/css/Filter.css">
    <link rel="stylesheet" href="static/css/Navbar-Centered-Brand-icons.css">
    <link rel="stylesheet" href="static/css/NZSearchFilterClear.css">
</head>

<body>
    <nav class="navbar navbar-light navbar-expand-md fixed-top text-center border-2 shadow-sm d-xxl-flex justify-content-xxl-end align-items-xxl-center py-3"
        style="/*margin-bottom: -3px;*/padding-bottom: 0px;background: #ffffff;color: #ffffff;padding-top: 0px;/*margin-top: 28px;*/position: relative;height: px;">
        <div class="container-fluid"><span
                class="text-center d-sm-flex align-items-center align-content-center m-auto align-items-sm-center"
                style="font-family: ST-Brigantina-free;/*display: inline-flex;*//*overflow: visible;*/transform: perspective(0px) translate(0px) rotate(0deg) rotateY(0deg) scale(2.47) skew(0deg);/*filter: hue-rotate(0deg) invert(0%) sepia(0%);*/transform-origin: center;/*text-shadow: 0px 0px;*/color: #303f9f;font-size: 24px;position: relative;text-align: center;margin-right: -17px;padding-right: 0px;margin-left: -20px;padding-left: 0px;">Речь&nbsp;<img
                    src="static/img/Логотип%201.svg" style="height: 30px;">&nbsp;идёт<a class="stretched-link"
                    href="/"></a></span><button data-bs-toggle="collapse" class="navbar-toggler"
                data-bs-target="#navcol-2" style="margin-left: 0px;"><span class="visually-hidden">Toggle
                    navigation</span><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse flex-grow-0 order-md-first" id="navcol-2">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item"><a class="nav-link active" href="/for_tutors"
                            style="font-family: ST-Brigantina-free;font-size: 35px;color: #303f9f;">Преподавателям</a>
                    </li>
                    <li class="nav-item"><a class="nav-link" href="/contacts"
                            style="font-size: 35px;font-family: ST-Brigantina-free;color: #303f9f;">о проекте</a></li>
                </ul>
                <div class="d-md-none my-2"><a class="btn btn-light me-2" role="button"
                        style="font-family: ST-Brigantina-free;font-size: 37px;color: #303f9f;border-color: #ffffff;background: rgba(197,202,233,0.5);"
                        href="/instruction">Инструкция</a>
                    <a class="btn btn-primary" role="button"
                        style="font-size: 37px;font-family: ST-Brigantina-free;background: #303f9f;color: #ffffff;border-style: double;border-color: #303f9f;"
                        href="/find">Искать</a>
                </div><span class="navbar-text"></span>
            </div>
            <div class="d-none d-md-block"><a class="btn btn-light border rounded me-2" role="button"
                    style="font-family: ST-Brigantina-free;font-size: 37px;color: #303f9f;border-color: #ffffff;background: rgba(197,202,233,0.5);"
                    href="/instruction">Инструкция</a><a class="btn btn-primary border rounded" role="button"
                    href="/find"
                    style="font-size: 37px;font-family: ST-Brigantina-free;background: #303f9f;color: #ffffff;border-style: double;border-color: #303f9f;">Искать</a>
            </div><a href="#"></a>
        </div>
    </nav>
    <div class="container py-4 py-xl-5">
        <div class="row" style="padding-bottom: 0px;margin-bottom: 1px;">
            <div class="col-md-8 col-xl-6 mx-auto p-4" style="padding-bottom: 42px;margin-bottom: -49px;">
                <h4 style="font-family: 'Bellota Text', serif;font-weight: bold;"><span
                        style="color: rgb(48, 63, 159); background-color: transparent;">Инструкция</span></h4>
                <div class="d-flex align-items-center align-items-md-start align-items-xl-center">
                    <div>
                        <p style="font-family: 'Bellota Text', serif;text-align: justify;"><span
                                style="color: rgb(0, 0, 0); background-color: transparent;">Чтобы начать работу, нажмите
                                на кнопку ИСКАТЬ в правом верхнем углу.&nbsp;</span></p><a href="#"></a>
                    </div>
                </div>
                <div class="d-flex align-items-center align-items-md-start align-items-xl-center">
                    <div>
                        <p style="font-family: 'Bellota Text', serif;text-align: justify;"><em><span
                                    style="color: rgb(0, 0, 0); background-color: transparent;">На странице поиска есть
                                    выбор:</span></em></p>
                        <p style="font-family: 'Bellota Text', serif;text-align: justify;"><strong><span
                                    style="text-decoration: underline; color: rgb(0, 0, 0); background-color: transparent;">Устойчивое
                                    сочетание слов:</span></strong><span
                                style="color: rgb(0, 0, 0); background-color: transparent;"> 85 устойчивых
                                сочетаний.</span></p>
                        <p style="font-family: 'Bellota Text', serif;text-align: justify;"><strong><span
                                    style="text-decoration: underline; color: rgb(0, 0, 0); background-color: transparent;">Контекст:&nbsp;</span></strong><span
                                style="color: rgb(0, 0, 0); background-color: transparent;">бытовой (обсуждение любых
                                повседневных тем) /&nbsp;деловой (на работе) /&nbsp;учебный (во время учёбы) /&nbsp;в
                                городе (в магазине, аптеке, на мероприятии и т.д.).</span></p>
                        <p style="font-family: 'Bellota Text', serif;text-align: justify;"><strong><span
                                    style="text-decoration: underline; color: rgb(0, 0, 0); background-color: transparent;">Собеседник:</span></strong><span
                                style="color: rgb(0, 0, 0); background-color: transparent;">&nbsp;семья /&nbsp;друзья
                                /&nbsp;партнёры /&nbsp;коллеги /&nbsp;знакомые /&nbsp;клиент-сервис.</span></p>
                        <p style="font-family: 'Bellota Text', serif;text-align: justify;"><strong><span
                                    style="text-decoration: underline; color: rgb(0, 0, 0); background-color: transparent;">Как
                                    выразить:</span><span
                                    style="color: rgb(0, 0, 0); background-color: transparent;">&nbsp;</span></strong><span
                                style="color: rgb(0, 0, 0); background-color: transparent;">эмоции (радость,
                                раздражение, удивление, …) / намерения (согласие, уточнение, …).</span></p>
                        <p style="font-family: 'Bellota Text', serif;text-align: justify;"><strong><span
                                    style="text-decoration: underline; color: rgb(0, 0, 0); background-color: transparent;">Звук:</span></strong><span
                                style="color: rgb(0, 0, 0); background-color: transparent;">&nbsp;со звуком /&nbsp;без
                                звука /&nbsp;все.</span></p>
                        <h4 style="font-family: 'Bellota Text', serif;font-weight: bold;"><span
                                style="color: rgb(48, 63, 159); background-color: transparent;">Как устроена
                                таблица</span></h4>
                        <picture><img width="600" height="103" src="static/img/пример1.jpg"></picture>
                        <p style="font-family: 'Bellota Text', serif;text-align: justify;margin-top: 16px;"><span
                                style="color: rgb(0, 0, 0); background-color: transparent;">1. Устойчивое сочетание
                                слов, которое используется в этом фрагменте;</span></p>
                        <p style="font-family: 'Bellota Text', serif;text-align: justify;"><span
                                style="color: rgb(0, 0, 0); background-color: transparent;">2. Значение или функция
                                устойчивого сочетания в этом фрагменте. Значение указано в кавычках после знака =
                                ;</span></p>
                        <p style="font-family: 'Bellota Text', serif;text-align: justify;"><span
                                style="color: rgb(0, 0, 0);">3.&nbsp;</span><span
                                style="color: rgb(0, 0, 0); background-color: transparent;">Текст фрагмента. Если нажать
                                на текст, можно посмотреть дополнительную информацию об этом фрагменте (для некоторых
                                фрагментов есть комментарии);&nbsp;</span></p>
                        <p style="font-family: 'Bellota Text', serif;text-align: justify;"><span
                                style="color: rgb(0, 0, 0); background-color: transparent;">4. Перевод на английский
                                язык;</span></p>
                        <p style="font-family: 'Bellota Text', serif;text-align: justify;">5. Прослушивание аудиозаписи.
                            Обратите внимание, что на данный момент прослушивание доступно не для всех аудиозаписей.</p>
                        <p style="font-family: 'Bellota Text', serif;text-align: justify;">Нажмите на текст фрагмента,
                            чтобы посмотреть дополнительную информацию:</p>
                        <picture><img src="static/img/пример%202.jpg" width="500" height="365"></picture>
                        <p style="font-family: 'Bellota Text', serif;text-align: justify;">Для некоторых фрагментов в
                            поле "Дополнительная информация" доступен комментарий.</p>
                        <h4 style="font-family: 'Bellota Text', serif;font-weight: bold;"><span
                                style="color: rgb(48, 63, 159);">Как работать с материалом</span></h4>
                        <p style="font-family: 'Bellota Text', serif;text-align: justify;"><span
                                style="color: rgb(0, 0, 0); background-color: transparent;">Ваши действия зависят от
                                ваших целей. Ниже описаны примеры задач и ход работы:</span></p>
                        <p style="font-family: 'Bellota Text', serif;text-align: justify;"><span
                                style="color: rgb(0, 0, 0); background-color: transparent;">1.&nbsp;Вы хотите узнать,
                                что означает сочетание </span><span
                                style="text-decoration: underline; color: rgb(0, 0, 0); background-color: transparent;">"всё
                                равно"</span><span style="color: rgb(0, 0, 0); background-color: transparent;"> и как
                                оно используется.</span></p>
                        <p style="font-family: 'Bellota Text', serif;text-align: justify;">Нажмите на поле "Выбрать",
                            найдите опцию "всё равно" и нажмите на неё. Нажмите кнопку "Найти". Вы получите все
                            фрагменты, в которых есть сочетание "всё равно". Изучите их, послушайте аудиозаписи.</p>
                        <p style="font-family: 'Bellota Text', serif;text-align: justify;">2. Вы хотите узнать, как
                            можно выразить <span style="text-decoration: underline;">удивление</span>.</p>
                        <p style="font-family: 'Bellota Text', serif;text-align: justify;"><span
                                style="color: rgb(0, 0, 0); background-color: transparent;">Нажмите на поле "Как
                                выразить", найдите опцию "удивление" и нажмите на неё. Нажмите кнопку "Найти". Вы
                                получите все фрагменты, в которых говорящий выражает удивление. Изучите их,&nbsp;
                                послушайте аудиозаписи, запомните, с помощью каких сочетаний можно выразить
                                удивление.</span></p>
                        <p style="font-family: 'Bellota Text', serif;text-align: justify;"><span
                                style="color: rgb(0, 0, 0); background-color: transparent;">3.&nbsp;Вам нужны примеры
                            </span><span
                                style="text-decoration: underline; color: rgb(0, 0, 0); background-color: transparent;">деловых
                                разговоров</span><span
                                style="color: rgb(0, 0, 0); background-color: transparent;">.</span></p>
                        <p style="font-family: 'Bellota Text', serif;text-align: justify;"><span
                                style="color: rgb(0, 0, 0); background-color: transparent;">Нажмите на поле "Контекст",
                                найдите опцию "деловой" и нажмите на неё. Нажмите кнопку "Найти". Вы получите все
                                фрагменты с деловыми разговорами.&nbsp;</span></p>
                        <p style="font-family: 'Bellota Text', serif;text-align: justify;"><span
                                style="color: rgb(0, 0, 0); background-color: transparent;">4. Вы хотите освоить
                            </span><span
                                style="text-decoration: underline; color: rgb(0, 0, 0); background-color: transparent;">молодёжный</span><span
                                style="color: rgb(0, 0, 0); background-color: transparent;"> сленг, чтобы лучше понимать
                                своих русских друзей.</span></p>
                        <p style="font-family: 'Bellota Text', serif;text-align: justify;"><span
                                style="color: rgb(0, 0, 0); background-color: transparent;">Нажмите на поле
                                "Собеседник", найдите опцию "друзья" и нажмите на неё. Нажмите кнопку "Найти". Вы
                                получите все фрагменты дружеских диалогов.&nbsp;</span></p>
                        <p style="font-family: 'Bellota Text', serif;text-align: justify;"><span
                                style="color: rgb(0, 0, 0); background-color: transparent;">5.</span>&nbsp;<span
                                style="color: rgb(0, 0, 0); background-color: transparent;">Вы готовите </span><span
                                style="text-decoration: underline; color: rgb(0, 0, 0); background-color: transparent;">занятие
                                по аудированию</span><span style="color: rgb(0, 0, 0); background-color: transparent;">,
                                и вам нужно подобрать фрагменты диалогов, для которых доступно прослушивание
                                аудио.&nbsp;</span></p>
                        <p style="font-family: 'Bellota Text', serif;text-align: justify;"><span
                                style="color: rgb(0, 0, 0); background-color: transparent;">Нажмите на поле "Звук",
                                найдите опцию "со звуком" и нажмите на неё. Нажмите кнопку "Найти". Вы получите все
                                фрагменты, для которых на сайте размещены аудиозаписи. Нажмите на текст фрагмента, чтобы
                                получить дополнительную информацию.</span></p>
                        <p style="font-family: 'Bellota Text', serif;text-align: justify;"><span
                                style="color: rgb(0, 0, 0); background-color: transparent;">Вы можете менять скорость и
                                громкость воспроизведения аудиозаписи.</span></p>
                    </div>
                </div>
                <div class="d-flex align-items-center align-items-md-start align-items-xl-center">
                    <div>
                        <p style="font-family: 'Bellota Text', serif;text-align: justify;"></p><a href="#"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="static/bootstrap/js/bootstrap.min.js"></script>
    <script src="static/js/DataTable---Fully-BSS-Editable-style.js"></script>
</body>

</html>