<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>site1</title>
    <link rel="stylesheet" href="static/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Bellota+Text&amp;display=swap">
    <link rel="stylesheet" href="static/css/ST-Brigantina-free.css">
    <link rel="stylesheet" href="static/css/Banner-Heading-Image-images.css">
    <link rel="stylesheet" href="static/css/Filter.css">
    <link rel="stylesheet" href="static/css/Navbar-Centered-Brand-icons.css">
    <link rel="stylesheet" href="static/css/NZSearchFilterClear.css">
</head>

<body>
    <nav class="navbar navbar-light navbar-expand-md fixed-top text-center border-2 shadow-sm d-xxl-flex justify-content-xxl-end align-items-xxl-center py-3"
        style="/*margin-bottom: -3px;*/padding-bottom: 0px;background: #ffffff;color: #ffffff;padding-top: 0px;/*margin-top: 28px;*/position: relative;height: px;">
        <div class="container-fluid"><span
                class="text-center d-sm-flex align-items-center align-content-center m-auto align-items-sm-center"
                style="font-family: ST-Brigantina-free;/*display: inline-flex;*//*overflow: visible;*/transform: perspective(0px) translate(0px) rotate(0deg) rotateY(0deg) scale(2.47) skew(0deg);/*filter: hue-rotate(0deg) invert(0%) sepia(0%);*/transform-origin: center;/*text-shadow: 0px 0px;*/color: #303f9f;font-size: 24px;position: relative;text-align: center;margin-right: -17px;padding-right: 0px;margin-left: -20px;padding-left: 0px;">Речь&nbsp;<img
                    src="static/img/Логотип%201.svg" style="height: 30px;">&nbsp;идёт<a class="stretched-link"
                    href="/"></a></span><button data-bs-toggle="collapse" class="navbar-toggler"
                data-bs-target="#navcol-4" style="margin-left: 0px;"><span class="visually-hidden">Toggle
                    navigation</span><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse flex-grow-0 order-md-first" id="navcol-4">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item"><a class="nav-link active" href="/for_tutors"
                            style="font-family: ST-Brigantina-free;font-size: 35px;color: #303f9f;">Преподавателям</a>
                    </li>
                    <li class="nav-item"><a class="nav-link" href="/contacts"
                            style="font-size: 35px;font-family: ST-Brigantina-free;color: #303f9f;">о проекте</a></li>
                </ul>
                <div class="d-md-none my-2"><a class="btn btn-light me-2" role="button"
                        style="font-family: ST-Brigantina-free;font-size: 37px;color: #303f9f;border-color: #ffffff;background: rgba(197,202,233,0.5);"
                        href="/instruction">Инструкция</a>
                    <a class="btn btn-primary" role="button"
                        style="font-size: 37px;font-family: ST-Brigantina-free;background: #303f9f;color: #ffffff;border-style: double;border-color: #303f9f;"
                        href="/find">Искать</a>
                </div><span class="navbar-text"></span>
            </div>
            <div class="d-none d-md-block"><a class="btn btn-light border rounded me-2" role="button"
                    style="font-family: ST-Brigantina-free;font-size: 37px;color: #303f9f;border-color: #ffffff;background: rgba(197,202,233,0.5);"
                    href="/instruction">Инструкция</a><a class="btn btn-primary border rounded" role="button"
                    href="/find"
                    style="font-size: 37px;font-family: ST-Brigantina-free;background: #303f9f;color: #ffffff;border-style: double;border-color: #303f9f;">Искать</a>
            </div><a href="#"></a>
        </div>
    </nav>
    <section class="py-4 py-xl-5" style="color: #303F9F;background: #c5cae9;">
        <section></section>
        <div class="container">
            <div class="text-center p-4 p-lg-5">
                <p class="fw-bold text-primary mb-2" style="color: #303f9f;"></p>
                <h1 class="fw-bold mb-4" style="color: #212121;font-family: 'Bellota Text', serif;">&nbsp;Слушайте
                    диалоги носителей русского языка и и<strong>зучайте сочетания слов</strong></h1><a
                    class="btn btn-primary border rounded" role="button" href="/find"
                    style="font-size: 35px;font-family: ST-Brigantina-free;background: #303f9f;color: #ffffff;transform: scale(1.10);border-style: solid;border-color: #ffc107;box-shadow: 0px 0px 16px 5px;margin-bottom: -12px;margin-top: 34px;">ПОИСК</a>
            </div>
        </div>
    </section>
    <div class="container py-4 py-xl-5" style="padding-bottom: 110px;margin-bottom: -77px;">
        <div class="row mb-5">
            <div class="col-md-8 col-xl-6 text-center mx-auto" style="margin-top: 36px;margin-bottom: 32px;">
                <h2 style="color: #303f9f;font-family: 'Bellota Text', serif;margin-bottom: 26px;">Чем отличаются язык и
                    речь?</h2>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h2 style="color: #303f9f;font-family: 'Bellota Text', serif;text-align: center;font-size: 30px;">Язык
                </h2>
                <p class="text-start" style="font-family: 'Bellota Text', serif;font-size: 20px;text-align: justify;">
                </p>
                <p style="font-family: 'Bellota Text', serif;font-size: 20px;text-align: justify;">Язык&nbsp;— это
                    система. В языковой системе есть разные уровни: фонетика, лексика, грамматика и синтаксис.&nbsp;</p>
                <p style="font-family: 'Bellota Text', serif;font-size: 20px;text-align: justify;">Правила языка
                    написаны в учебниках, вы изучаете их на занятиях по русскому языку. Например, вы точно знаете, чтобы
                    поздороваться, нужно сказать: "Здравствуйте!"</p>
            </div>
            <div class="col-md-6">
                <h1 style="color: #303f9f;font-family: 'Bellota Text', serif;font-size: 30px;text-align: center;">Речь
                </h1>
                <p style="font-family: 'Bellota Text', serif;font-size: 20px;text-align: justify;">Речь&nbsp;— это
                    использование языка, общение между людьми в реальной ситуации.&nbsp;</p>
                <p style="font-family: 'Bellota Text', serif;font-size: 20px;text-align: justify;">Если вы хотите
                    свободно владеть русским языком, вам нужно выучить не только его основные правила, но и узнать
                    особенности разговорной речи. Знали ли вы, что вместо "здравствуйте!" русские могут сказать:
                    "здор<span style="color: rgb(51, 51, 51);">ó</span>во", "здрасте" и даже"драсте"?</p>
            </div>
        </div>
    </div>
    <div class="container text-center py-4 py-xl-5" style="margin-bottom: -36px;">
        <h2
            style="color: #303f9f;font-family: 'Bellota Text', serif;margin-bottom: 42px;padding-bottom: 0px;margin-top: 40px;">
            <em>Этот сайт&nbsp;— мост от языка к речи</em>
        </h2>
        <div class="row gy-4 gy-md-0" style="padding-bottom: 0px;margin-bottom: 32px;margin-top: 18px;">
            <div class="col-md-6">
                <div class="p-xl-5 m-xl-5"><img class="rounded img-fluid w-100 fit-cover" style="min-height: 300px;"
                        src="static/img/мост_спб.jpeg"></div>
            </div>
            <div class="col-md-6 d-md-flex align-items-md-center">
                <div style="max-width: 350px;">
                    <p class="my-3"
                        style="position: relative;display: flex;font-family: 'Bellota Text', serif;width: px;text-align: justify;">
                        Выражение "речь идёт о..." — это устойчивая конструкция русской речи. Она используется для
                        уточнения, объяснения или выделения какой-то мысли. Например:&nbsp;<br><br>"Ты не понял. Речь
                        идёт не о деньгах, а о принципах"<br><br>В русской разговорной речи похожие конструкции
                        встречаются очень часто, поэтому нужно их изучать. Здесь вы можете познакомиться с другими
                        похожими конструкциями.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="container py-4 py-xl-5" style="color: rgb(33,33,33);">
        <div class="row mb-5" style="margin-top: 22px;">
            <div class="col-md-8 col-xl-6 text-center mx-auto">
                <h2 style="color: rgb(33, 33, 33);font-family: 'Bellota Text', serif;">Что есть на этом сайте?</h2>
                <p style="font-family: 'Bellota Text', serif;">Всё, для комфортного погружения в русскую разговорную
                    речь.</p>
            </div>
        </div>
        <div class="row gy-4 row-cols-1 row-cols-md-2 row-cols-xl-3">
            <div class="col">
                <div class="card">
                    <div class="card-body p-4">
                        <div class="bs-icon-md bs-icon-rounded bs-icon-primary d-flex justify-content-center align-items-center d-inline-block mb-3 bs-icon"
                            style="background: #bdbdbd;color: #3f51b5;"><svg xmlns="http://www.w3.org/2000/svg"
                                width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16" class="bi bi-body-text"
                                style="color: #212121;">
                                <path fill-rule="evenodd"
                                    d="M0 .5A.5.5 0 0 1 .5 0h4a.5.5 0 0 1 0 1h-4A.5.5 0 0 1 0 .5Zm0 2A.5.5 0 0 1 .5 2h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5Zm9 0a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5Zm-9 2A.5.5 0 0 1 .5 4h3a.5.5 0 0 1 0 1h-3a.5.5 0 0 1-.5-.5Zm5 0a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5Zm7 0a.5.5 0 0 1 .5-.5h3a.5.5 0 0 1 0 1h-3a.5.5 0 0 1-.5-.5Zm-12 2A.5.5 0 0 1 .5 6h6a.5.5 0 0 1 0 1h-6a.5.5 0 0 1-.5-.5Zm8 0a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5Zm-8 2A.5.5 0 0 1 .5 8h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5Zm7 0a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5Zm-7 2a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 0 1h-8a.5.5 0 0 1-.5-.5Zm0 2a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 0 1h-4a.5.5 0 0 1-.5-.5Zm0 2a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 0 1h-2a.5.5 0 0 1-.5-.5Z">
                                </path>
                            </svg></div>
                        <h4 class="card-title" style="font-family: 'Bellota Text', serif;">Конструкции русской
                            разговорной речи</h4>
                        <p class="card-text" style="font-size: 16px;font-family: 'Bellota Text', serif;">Изучайте
                            частотные конструкции, их функции и особенности употребления.</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <div class="card-body p-4">
                        <div class="bs-icon-md bs-icon-rounded bs-icon-primary d-flex justify-content-center align-items-center d-inline-block mb-3 bs-icon"
                            style="background: #bdbdbd;color: #303f9f;"><svg xmlns="http://www.w3.org/2000/svg"
                                width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16"
                                class="bi bi-people-fill" style="color: #212121;">
                                <path d="M7 14s-1 0-1-1 1-4 5-4 5 3 5 4-1 1-1 1H7zm4-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z">
                                </path>
                                <path fill-rule="evenodd"
                                    d="M5.216 14A2.238 2.238 0 0 1 5 13c0-1.355.68-2.75 1.936-3.72A6.325 6.325 0 0 0 5 9c-4 0-5 3-5 4s1 1 1 1h4.216z">
                                </path>
                                <path d="M4.5 8a2.5 2.5 0 1 0 0-5 2.5 2.5 0 0 0 0 5z"></path>
                            </svg></div>
                        <h4 class="card-title" style="font-family: 'Bellota Text', serif;">Диалоги носителей русского
                            языка</h4>
                        <p class="card-text" style="font-family: 'Bellota Text', serif;">Все материалы здесь — это
                            настоящие диалоги русскоговорящих людей.&nbsp;</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="card">
                    <div class="card-body p-4" style="padding-bottom: 0px;margin-bottom: 4px;">
                        <div class="bs-icon-md bs-icon-rounded bs-icon-primary d-flex justify-content-center align-items-center d-inline-block mb-3 bs-icon"
                            style="background: #bdbdbd;color: #212121;"><svg xmlns="http://www.w3.org/2000/svg"
                                width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16" class="bi bi-earbuds">
                                <path fill-rule="evenodd"
                                    d="M6.825 4.138c.596 2.141-.36 3.593-2.389 4.117a4.432 4.432 0 0 1-2.018.054c-.048-.01.9 2.778 1.522 4.61l.41 1.205a.52.52 0 0 1-.346.659l-.593.19a.548.548 0 0 1-.69-.34L.184 6.99c-.696-2.137.662-4.309 2.564-4.8 2.029-.523 3.402 0 4.076 1.948zm-.868 2.221c.43-.112.561-.993.292-1.969-.269-.975-.836-1.675-1.266-1.563-.43.112-.561.994-.292 1.969.269.975.836 1.675 1.266 1.563zm3.218-2.221c-.596 2.141.36 3.593 2.389 4.117a4.434 4.434 0 0 0 2.018.054c.048-.01-.9 2.778-1.522 4.61l-.41 1.205a.52.52 0 0 0 .346.659l.593.19c.289.092.6-.06.69-.34l2.536-7.643c.696-2.137-.662-4.309-2.564-4.8-2.029-.523-3.402 0-4.076 1.948zm.868 2.221c-.43-.112-.561-.993-.292-1.969.269-.975.836-1.675 1.266-1.563.43.112.561.994.292 1.969-.269.975-.836 1.675-1.266 1.563z">
                                </path>
                            </svg></div>
                        <h4 class="card-title" style="font-family: 'Bellota Text', serif;">Аудиозаписи</h4>
                        <p class="card-text" style="font-family: 'Bellota Text', serif;">Вы можете познакомиться не
                            только с текстом, но и послушать реальные аудиозаписи разговоров.</p>
                    </div>
                </div>
            </div>
        </div>
        <section class="py-4 py-xl-5">
            <div class="container">
                <div class="text-white bg-primary border rounded border-0 border-primary d-flex flex-column justify-content-between flex-lg-row p-4 p-md-5"
                    style="background: #303f9f;--bs-primary: #303f9f;--bs-primary-rgb: 48,63,159;border-color: #303f9f;">
                    <div class="pb-2 pb-lg-1">
                        <h2 class="fw-bold mb-2" style="font-family: 'Bellota Text', serif;">Узнать подробнее</h2>
                        <p class="mb-0" style="font-family: 'Bellota Text', serif;">Перед тем как начать, рекомендуем
                            прочитать инструкцио.</p>
                    </div>
                    <div class="my-2" style="font-size: px;"><a class="btn btn-light fs-5 py-2 px-4" role="button"
                            href="/instruction"
                            style="font-family: 'Bellota Text', serif;font-size: 15px;">Инструкция</a></div>
                </div>
            </div>
            <section class="py-4 py-xl-5" style="color: #303f9f;padding-top: 3px;margin-top: -49px;">
                <div class="container">
                    <div class="bg-dark border rounded border-0 border-dark overflow-hidden">
                        <div class="row g-0" style="background: #c5cae9;">
                            <div class="col-md-6 col-xl-8" style="background: #c5cae9;">
                                <div class="text-white p-4 p-md-5"
                                    style="background: #c5cae9;margin-bottom: 24px;padding-bottom: 0px;color: #303f9f;">
                                    <h2 class="fw-bold text-white mb-3"
                                        style="font-family: 'Bellota Text', serif;border-color: #303f9f;color: #303f9f;">
                                        <span style="font-weight: normal !important;">Сделано в Санкт-Петербурге</span>
                                    </h2>
                                    <p class="mb-4"
                                        style="font-family: 'Bellota Text', serif;padding-right: 164px;margin-right: -83px;">
                                        Проект выполнен при поддержке лаборатории языковой конверегенции (Высшая школа
                                        экономики, Санкт-Петербург).</p>
                                    <div class="my-3"><a class="btn btn-primary btn-lg me-2" role="button"
                                            href="/contacts"
                                            style="font-family: 'Bellota Text', serif;background: #303f9f;border-color: #303f9f;">О
                                            проекте</a></div>
                                </div>
                            </div>
                            <div class="col-8 col-md-6 col-xl-4 text-center float-start flex-grow-0 justify-content-center align-items-center align-content-center align-self-center flex-wrap-reverse ms-auto order-md-last"
                                style="min-height: 250px;background: #c5cae9;"><img
                                    class="d-flex flex-grow-1 flex-fill justify-content-center align-items-center align-content-center align-self-center m-auto justify-content-xxl-center visible"
                                    src="static/img/Эмблема%20Лаборатории%20(2).png"
                                    style="width: 340px;padding-left: 22px;padding-bottom: 0px;margin-bottom: -6px;margin-top: 0px;position: relative;transform: translate(-134px);"
                                    width="340" height="292"></div>
                        </div>
                    </div>
                </div>
            </section>
        </section>
    </div>
    <script src="static/bootstrap/js/bootstrap.min.js"></script>
    <script src="static/js/DataTable---Fully-BSS-Editable-style.js"></script>
</body>

</html>